Systest/Files/Reports/XSD Definition/JobServiceRHICReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/XMLSchema.xsd" xmlns:mstns="http://tempuri.org/XMLSchema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="ReportTable01">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="PERSLinkID" type="xs:int" />
				<xs:element name="FirstName" type="xs:string" minOccurs="0" />
				<xs:element name="LastName" type="xs:string" minOccurs="0" />
				<xs:element name="RHICAmount" type="xs:decimal" minOccurs="0" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>