Systest/Files/Reports/XSD Definition/rpt945.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rpt945"
    targetNamespace="http://tempuri.org/rpt945.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rpt945.xsd"
    xmlns:mstns="http://tempuri.org/rpt945.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PAYMENT_DATE" type="xs:date" />
        <xs:element name="MONT_YEAR" type="xs:string" />
        <xs:element name="MONTH_YEAR_NUM" type="xs:string" />
        <xs:element name="INDICATOR" type="xs:string" />
        <xs:element name="DESCR" type="xs:string" />
        <xs:element name="FED_TAX" type="xs:decimal" />
        <xs:element name="STATE_TAX" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
