Systest/Files/Reports/XSD Definition/rptActuaryDecrementFileReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptActuaryPensionPlanFileReport"
    targetNamespace="http://tempuri.org/rptActuaryDecrementFileReport.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptActuaryDecrementFileReport.xsd"
    xmlns:mstns="http://tempuri.org/rptActuaryDecrementFileReport.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="ReportTable01">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ssn" type="xs:string" />
              <xs:element name="plan_id" type="xs:int" />
              <xs:element name="person_id" type="xs:int" />
              <xs:element name="account_relation_value" type="xs:string" />
              <xs:element name="last_name" type="xs:string" />
              <xs:element name="first_name" type="xs:string" />
              <xs:element name="current_plan_participation_code_value" type="xs:string" />
              <xs:element name="previous_plan_participation_code_value" type="xs:string" />
              <xs:element name="current_plan_participation_value_formatted" type="xs:string" />
              <xs:element name="previous_plan_participation_value_formatted" type="xs:string" />
              <xs:element name="current_employment_status_value" type="xs:string" />
              <xs:element name="previous_employment_status_value" type="xs:string" />
              <xs:element name="current_payee_status_value" type="xs:string" />
              <xs:element name="previous_payee_status_value" type="xs:string" />
              <xs:element name="benefit_option_value" type="xs:string" />
              <xs:element name="decrement_reason" type="xs:string" />
              <xs:element name="date_of_decrement" type="xs:date" />
              <xs:element name="plan_name" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
