Systest/Files/Reports/XSD Definition/rptActivitiesInStatusExceeding3Days.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptActivitiesInStatusExceeding3Days" targetNamespace="http://tempuri.org/rptActivitiesInStatusExceeding3Days.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptActivitiesInStatusExceeding3Days.xsd" xmlns:mstns="http://tempuri.org/rptActivitiesInStatusExceeding3Days.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="Document">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ReportTable01">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ACTIVITY_INSTANCE_ID" type="xs:int" />
							<xs:element name="PERSLinkID_OrgID" type="xs:string" />
							<xs:element name="LastName_OrgName" type="xs:string" />
							<xs:element name="Initiated" type="xs:date" />
							<xs:element name="current_status" type="xs:string" />
							<xs:element name="Role" type="xs:string" minOccurs="0" />
							<xs:element name="elapsed_time" type="xs:string" />
							<xs:element name="activity_name" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
		<xs:unique name="DocumentKey1">
			<xs:selector xpath=".//mstns:ReportTable01" />
			<xs:field xpath="mstns:ACTIVITY_INSTANCE_ID" />
		</xs:unique>
	</xs:element>
</xs:schema>