Systest/Files/Reports/XSD Definition/rptApproaching457ContributionLimit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="XMLSchema2" targetNamespace="http://tempuri.org/XMLSchema2.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/XMLSchema2.xsd" xmlns:mstns="http://tempuri.org/XMLSchema2.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="Document">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ReportTable01">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PERSON_ACCOUNT_PROVIDER_ID" type="xs:int" />
							<xs:element name="FullName" type="xs:string" />
							<xs:element name="LastName" type="xs:string" />
							<xs:element name="Employer" type="xs:string" />
							<xs:element name="_x0034_57Limit" type="xs:string" />
							<xs:element name="MonthlyContributionAmount" type="xs:decimal" />
							<xs:element name="YTDContributions" type="xs:decimal" />
							<xs:element name="PERSLinkID" type="xs:int" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
		<xs:unique name="DocumentKey1">
			<xs:selector xpath=".//mstns:ReportTable01" />
			<xs:field xpath="mstns:PERSON_ACCOUNT_PROVIDER_ID" />
		</xs:unique>
	</xs:element>
</xs:schema>