Systest/Files/Reports/XSD Definition/rptBenefitPaymentChange.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptBenefitPaymentChange"
    targetNamespace="http://tempuri.org/rptBenefitPaymentChange.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptBenefitPaymentChange.xsd"
    xmlns:mstns="http://tempuri.org/rptBenefitPaymentChange.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PARENT_NAME" type="xs:string" />
        <xs:element name="BATCH_NAME" type="xs:string" />
        <xs:element name="ITEM_TYPE" type="xs:string" />
        <xs:element name="BEFORE_AMOUNT" type="xs:decimal" />
        <xs:element name="AFTER_AMOUNT" type="xs:decimal" />
        <xs:element name="DIFFERENCE_AMOUNT" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable02">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PERSLINK_ID" type="xs:string" />
        <xs:element name="LAST_NAME" type="xs:string" />
        <xs:element name="FIRST_NAME" type="xs:string" />
        <xs:element name="ITEM_TYPE" type="xs:string" />
        <xs:element name="BEFORE_AMOUNT" type="xs:decimal" />
        <xs:element name="AFTER_AMOUNT" type="xs:decimal" />
        <xs:element name="DIFFERENCE_AMOUNT" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable03">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ITEM_TYPE" type="xs:string" />
        <xs:element name="BEFORE_AMOUNT" type="xs:decimal" />
        <xs:element name="AFTER_AMOUNT" type="xs:decimal" />
        <xs:element name="DIFFERENCE_AMOUNT" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable04">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ITEM_TYPE" type="xs:string" />
        <xs:element name="BEFORE_AMOUNT" type="xs:decimal" />
        <xs:element name="AFTER_AMOUNT" type="xs:decimal" />
        <xs:element name="DIFFERENCE_AMOUNT" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
