Systest/Files/Reports/XSD Definition/rptBCBS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptBCBS"
    targetNamespace="http://tempuri.org/rpt945.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rpt945.xsd"
    xmlns:mstns="http://tempuri.org/rpt945.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EMPLOYEE_ID" type="xs:int" />
        <xs:element name="EMPLOYEE_NAME" type="xs:string" />
        <xs:element name="SSN" type="xs:string" />
        <xs:element name="COVERAGE_START_DATE" type="xs:dateTime"/>
        <xs:element name="COVERAGE_END_DATE" type="xs:dateTime"/>
        <xs:element name="DEPENDENT_NAME" type="xs:string" />
        <xs:element name="MEDICARE_CLAIM_NO" type="xs:string" />
        <xs:element name="MEDICARE_PART_A_DATE" type="xs:dateTime" />
        <xs:element name="MEDICARE_PART_B_DATE" type="xs:dateTime" />
        <xs:element name="DATE_OF_DEATH" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
