Systest/Files/Reports/XSD Definition/rptDBManualAdjustmentsReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptDBManualAdjustmentsReport" targetNamespace="http://tempuri.org/rptDBManualAdjustmentsReport.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptDBManualAdjustmentsReport.xsd" xmlns:mstns="http://tempuri.org/rptDBManualAdjustmentsReport.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="Document">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ReportTable01">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MemberName" type="xs:string" />
							<xs:element name="PERSLinkID" type="xs:int" />
							<xs:element name="LastName" type="xs:int" />
							<xs:element name="TransferFrom" type="xs:string" />
							<xs:element name="TransferTo" type="xs:string" minOccurs="0" />
							<xs:element name="PostTaxEEContribution" type="xs:decimal" />
							<xs:element name="PostTaxEESerPurContribution" type="xs:decimal" />
							<xs:element name="RHICEEContribution" type="xs:decimal" minOccurs="0" />
							<xs:element name="RHICEESerPurContribution" type="xs:decimal" minOccurs="0" />
							<xs:element name="CapitalGains" type="xs:decimal" minOccurs="0" />
							<xs:element name="ERVSC" type="xs:decimal" />
							<xs:element name="Interest" type="xs:decimal" minOccurs="0" />
							<xs:element name="PreTaxEEContribution" type="xs:decimal" minOccurs="0" />
							<xs:element name="PreTaxEEERPickup" type="xs:decimal" />
							<xs:element name="PreTaxEESerPurContribution" type="xs:decimal" />
							<xs:element name="RHICERContribution" type="xs:decimal" />
							<xs:element name="RHICERSerPurContribution" type="xs:decimal" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
		<xs:unique name="DocumentKey1">
			<xs:selector xpath=".//mstns:ReportTable01" />
			<xs:field xpath="mstns:MemberName" />
		</xs:unique>
	</xs:element>
</xs:schema>