Systest/Files/Reports/XSD Definition/rptElectionResultsReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptElectionResultsReport"
    targetNamespace="http://tempuri.org/rptElectionResultsReport.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptElectionResultsReport.xsd"
    xmlns:mstns="http://tempuri.org/rptElectionResultsReport.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ReportTable01">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="VOTE_CAST_TIME" type="xs:string" />
							<xs:element name="CANDIDATE_NAME" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ReportTable02">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="VOTES_CAST" type="xs:int" />
							<xs:element name="CANDIDATE_NAME" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ReportTable03">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ELECTION_ID" type="xs:int" />
							<xs:element name="TERM_START_DATE" type="xs:string" />
							<xs:element name="TERM_END_DATE" type="xs:string" />
							<xs:element name="DESCRIPTION" type="xs:string" />
              <xs:element name="AUDIENCE" type="xs:string" />
            </xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>		
	</xs:element>
</xs:schema>
