Systest/Files/Reports/XSD Definition/rptFlexCompChangeReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptFlexCompChangeReport"
    targetNamespace="http://tempuri.org/rptFlexCompChangeReport.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptFlexCompChangeReport.xsd"
    xmlns:mstns="http://tempuri.org/rptFlexCompChangeReport.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:element name="ReportTable01">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PERSLINKID" type="xs:int" />
				<xs:element name="PEOPLESOFTID" type="xs:string" minOccurs="0" />
				<xs:element name="NAME" type="xs:string" minOccurs="0" />
				<xs:element name="ORGCODEID" type="xs:string" minOccurs="0" />
				<xs:element name="DATEOFCHANGE" type="xs:dateTime" minOccurs="0" />
				<xs:element name="ORGGROUPVALUE" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
