Systest/Files/Reports/XSD Definition/rptFinalPurchaseInstallmentPayment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/XMLSchema.xsd" xmlns:mstns="http://tempuri.org/XMLSchema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FullName" type="xs:string" />
        <xs:element name="PERSLinkID" type="xs:int" />
        <xs:element name="PurchaseID" type="xs:int" />
        <xs:element name="LastPaymentRecievedDate" type="xs:dateTime" />
        <xs:element name="LastPaymentAmount" type="xs:decimal" />
        <xs:element name="ExpectedInstallmentAmount" type="xs:decimal" />
        <xs:element name="BalanceDue" type="xs:decimal" />
        <xs:element name="Limit415Flag" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>