Systest/Files/Reports/XSD Definition/rptGroupLifePremium.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptGroupLifePremium"
    targetNamespace="http://tempuri.org/rptGroupLifePremium.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptGroupLifePremium.xsd"
    xmlns:mstns="http://tempuri.org/rptGroupLifePremium.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="COVERAGE_DESC" type="xs:string" />
        <xs:element name="RATING_CRITERIA" type="xs:string" />
        <xs:element name="ACTUAL_LIVES" type="xs:int" />
        <xs:element name="ACTUAL_VOLUME" type="xs:decimal" />
        <xs:element name="RATE" type="xs:decimal" />
        <xs:element name="TOTAL_PREMIUM_AMOUNT" type="xs:decimal" />
        <xs:element name="TOTAL_ADJUSTMENT_AMOUNT" type="xs:decimal" />
        <xs:element name="TOTALAMOUNT" type="xs:decimal" />
        <xs:element name="CALCULATEDAMOUNT" type="xs:decimal" />
        <xs:element name="ROUNDOFFDIFFERENCE" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
