Systest/Files/Reports/XSD Definition/rptGLPeopleSoft.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptGLPeopleSoft"
    targetNamespace="http://tempuri.org/rptGLPeopleSoft.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptGLPeopleSoft.xsd"
    xmlns:mstns="http://tempuri.org/rptGLPeopleSoft.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FUND_ID" type="xs:string" />
        <xs:element name="DEPT_ID" type="xs:string" />
        <xs:element name="ACCOUNT_NUM" type="xs:int" />
        <xs:element name="ACCOUNT_NAME" type="xs:string" />
        <xs:element name="DEBIT_AMT" type="xs:decimal" />
        <xs:element name="CREDIT_AMT" type="xs:decimal" />       
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
