Systest/Files/Reports/XSD Definition/rptInsufficientPurchasePayment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptMonthlyPurchasedServiceCreditPosting" targetNamespace="http://tempuri.org/rptMonthlyPurchasedServiceCreditPosting.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptMonthlyPurchasedServiceCreditPosting.xsd" xmlns:mstns="http://tempuri.org/rptMonthlyPurchasedServiceCreditPosting.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PERSLinkID" type="xs:int" />
        <xs:element name="FullName" type="xs:string" />
        <xs:element name="PurchaseID" type="xs:int" />
        <xs:element name="LastPaymentReceivedDate" type="xs:dateTime" />
        <xs:element name="PrincipleDue" type="xs:decimal" />
        <xs:element name="InterestDue" type="xs:decimal" />
        <xs:element name="PaymentAmount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>