Systest/Files/Reports/XSD Definition/rptMonthlyRefund1099R.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptMonthlyRefund1099R"
    targetNamespace="http://tempuri.org/rptMonthlyRefund1099R.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptMonthlyRefund1099R.xsd"
    xmlns:mstns="http://tempuri.org/rptMonthlyRefund1099R.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ACCT_NUM" type="xs:string" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="PAYEE_NAME" type="xs:string" />
        <xs:element name="PAYEE_STATUS" type="xs:string" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="BENEFIT_OPTION" type="xs:string" />
        <xs:element name="DIST_CD" type="xs:string" />
        <xs:element name="TOTAL_PAID" type="xs:decimal" />
        <xs:element name="NON_TAX" type="xs:decimal" />
        <xs:element name="CAPITAL_GAINS" type="xs:decimal" />
        <xs:element name="TAXABLE" type="xs:decimal" />
       <xs:element name="NON_TAX_ROLLOVER" type="xs:decimal" />
        <xs:element name="FED_TAX" type="xs:decimal" />
        <xs:element name="STATE_TAX" type="xs:decimal" />
        <xs:element name="CHECK_NUM" type="xs:int" />
        <xs:element name="CHECK_DATE" type="xs:date" />
        <xs:element name="CHECK_AMOUNT" type="xs:decimal" />
        <xs:element name="DIST_PER" type="xs:decimal" />
        <xs:element name="MONTH_YEAR" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
