Systest/Files/Reports/XSD Definition/rptMonthlyBenefitPaymentSummary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptMonthlyBenefitPaymentSummary"
    targetNamespace="http://tempuri.org/rptMonthlyBenefitPaymentSummary.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptMonthlyBenefitPaymentSummary.xsd"
    xmlns:mstns="http://tempuri.org/rptMonthlyBenefitPaymentSummary.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="REPORDER" type="xs:int" />
        <xs:element name="REPTYPE" type="xs:string" />
        <xs:element name="GROS" type="xs:decimal" />
        <xs:element name="RHIC" type="xs:decimal" />
        <xs:element name="FEDL" type="xs:decimal" />
        <xs:element name="STAT" type="xs:decimal" />
        <xs:element name="INSR" type="xs:decimal" />
        <xs:element name="OTHR" type="xs:decimal" />
        <xs:element name="NET_AMOUNT" type="xs:decimal" />        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
