Systest/Files/Reports/XSD Definition/rptPremiumAdjustmentReceivable.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptPremiumAdjustmentReceivable"
    targetNamespace="http://tempuri.org/rptPremiumAdjustmentReceivable.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptPremiumAdjustmentReceivable.xsd"
    xmlns:mstns="http://tempuri.org/rptPremiumAdjustmentReceivable.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="LAST_NAME" type="xs:string" />
        <xs:element name="FIRST_NAME" type="xs:string" />
        <xs:element name="TOTAL_ADJUSTMENT_AMOUNT" type="xs:decimal" />
        <xs:element name="PAID_AMOUNT" type="xs:decimal" />
        <xs:element name="LAST_PAYMENT_DATE" type="xs:date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
