Systest/Files/Reports/XSD Definition/rptPeoplesoftErrorDetails.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptBCBS"
    targetNamespace="http://tempuri.org/rpt945.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rpt945.xsd"
    xmlns:mstns="http://tempuri.org/rpt945.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PS_PERSON_ID" type="xs:int" />
        <xs:element name="FIRST_NAME" type="xs:string" />
        <xs:element name="LAST_NAME" type="xs:string" />
        <xs:element name="SSN" type="xs:string"/>
        <xs:element name="Employer_Name" type="xs:string"/>
        <xs:element name="ERROR_ID" type="xs:string" />
        <xs:element name="Error_description" type="xs:string" />
	<xs:element name="PEOPLESOFT_ID" type="xs:string" />        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable02">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PS_ADDRESS_ID" type="xs:int" />
        <xs:element name="FIRST_NAME" type="xs:string" />
        <xs:element name="LAST_NAME" type="xs:string" />
        <xs:element name="SSN" type="xs:string"/>
        <xs:element name="Employer_Name" type="xs:string"/>
        <xs:element name="ERROR_ID" type="xs:string" />
        <xs:element name="Error_description" type="xs:string" />        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="ReportTable03">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PS_EMPLOYMENT_ID" type="xs:int" />
        <xs:element name="FIRST_NAME" type="xs:string" />
        <xs:element name="LAST_NAME" type="xs:string" />
        <xs:element name="SSN" type="xs:string"/>
        <xs:element name="Employer_Name" type="xs:string"/>
        <xs:element name="ERROR_ID" type="xs:string" />
        <xs:element name="Error_description" type="xs:string" />
        <xs:element name="Org_Code" type="xs:string" />
	<xs:element name="PEOPLESOFT_ID" type="xs:string" />         
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>