Systest/Files/Reports/XSD Definition/rptRetirementContributionConfirmation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptRetirementContributionConfirmation"
    targetNamespace="http://tempuri.org/rptRetirementContributionConfirmation.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptRetirementContributionConfirmation.xsd"
    xmlns:mstns="http://tempuri.org/rptRetirementContributionConfirmation.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ORG_NAME" type="xs:string" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="ORG_CODE" type="xs:string" />
        <xs:element name="EE_CONTRIBUTION_REPORTED" type="xs:decimal" />
        <xs:element name="EE_PRE_TAX_REPORTED" type="xs:decimal" />
        <xs:element name="EE_EMPLOYER_PICKUP_REPORTED" type="xs:decimal" />
        <xs:element name="ER_CONTRIBUTION_REPORTED" type="xs:decimal" />
        <xs:element name="RHIC_ER_CONTRIBUTION_REPORTED" type="xs:decimal" />
        <xs:element name="RHIC_EE_CONTRIBUTION_REPORTED" type="xs:decimal" />        
        <xs:element name="ELIGIBLE_WAGES" type="xs:decimal" />
        <xs:element name="MEMBER_INTEREST_CALCULATED" type="xs:decimal" />
        <xs:element name="EMPLOYER_INTEREST_CALCULATED" type="xs:decimal" />
        <xs:element name="EE_PRETAX_ADDL_REPORTED" type="xs:decimal" />
        <xs:element name="EE_POST_TAX_ADDL_REPORTED" type="xs:decimal" />
        <xs:element name="ER_PRETAX_MATCH_REPORTED" type="xs:decimal" />
        <xs:element name="ADEC_REPORTED" type="xs:decimal" />
        <xs:element name="PRIMARY_ADDRESS_ID" type="xs:int" />
        <xs:element name="ADD_L1" type="xs:string" />
        <xs:element name="ADD_L2" type="xs:string" />
        <xs:element name="ADD_L3" type="xs:string" />
        <xs:element name="FOOTER_NOTE" type="xs:string" />        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
