Systest/Files/Reports/XSD Definition/rptRequirementHistoryAsOfDate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptRequirementHistoryAsOfDate" targetNamespace="http://tempuri.org/rptRequirementHistoryAsOfDate.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptRequirementHistoryAsOfDate.xsd" xmlns:mstns="http://tempuri.org/rptRequirementHistoryAsOfDate.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="Document">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ReportTable01">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="REQUIREMENT_HISTORY_ID" type="xs:int" />
							<xs:element name="REQUIREMENT_ID" type="xs:int" />
							<xs:element name="REQUIREMENT_KEY" type="xs:string" minOccurs="0" />
							<xs:element name="PARENT_REQUIREMENT_ID" type="xs:string" minOccurs="0" />
							<xs:element name="REQUIREMENT_SHORT_DESC" type="xs:string" minOccurs="0" />
							<xs:element name="REQUIREMENT_DESC" type="xs:string" minOccurs="0" />
							<xs:element name="REQUIREMENT_TYPE_ID" type="xs:int" minOccurs="0" />
							<xs:element name="REQUIREMENT_TYPE_VALUE" type="xs:string" minOccurs="0" />
							<xs:element name="STATUS_ID" type="xs:int" />
							<xs:element name="STATUS_VALUE" type="xs:string" />
							<xs:element name="CATEGORY_ID" type="xs:int" minOccurs="0" />
							<xs:element name="CATEGORY_VALUE" type="xs:string" minOccurs="0" />
							<xs:element name="OWNER" type="xs:int" minOccurs="0" />
							<xs:element name="FLOW_ID" type="xs:int" minOccurs="0" />
							<xs:element name="FILE_LOCATION" type="xs:string" minOccurs="0" />
							<xs:element name="PRIORITY" type="xs:int" minOccurs="0" />
							<xs:element name="NOTES" type="xs:string" minOccurs="0" />
							<xs:element name="CATEGORY" type="xs:string" />
							<xs:element name="STATUS" type="xs:string" />
							<xs:element name="REQUIREMENT_TYPE" type="xs:string" />
							<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
							<xs:element name="FLOW_DESC" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
		<xs:unique name="DocumentKey1">
			<xs:selector xpath=".//mstns:ReportTable01" />
			<xs:field xpath="mstns:REQUIREMENT_HISTORY_ID" />
		</xs:unique>
	</xs:element>
</xs:schema>