Systest/Files/Reports/XSD Definition/rptVendorPaymentSummary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptVendorPaymentSummary"
    targetNamespace="http://tempuri.org/rptVendorPaymentSummary.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptVendorPaymentSummary.xsd"
    xmlns:mstns="http://tempuri.org/rptVendorPaymentSummary.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ORGANIZATION_NAME" type="xs:string" />
        <xs:element name="GROSS_AMOUNT" type="xs:decimal" />
        <xs:element name="RECEIVABLES" type="xs:decimal" />
        <xs:element name="NET_AMOUNT" type="xs:decimal" />        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
