Systest/Files/Reports/XSD Definition/rptYearly415PurchaseLimit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptYearly415PurchaseLimit" targetNamespace="http://tempuri.org/rptYearly415PurchaseLimit.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptYearly415PurchaseLimit.xsd" xmlns:mstns="http://tempuri.org/rptYearly415PurchaseLimit.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="Document">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ReportTable01">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SERVICE_PURCHASE_HEADER_ID" type="xs:int" />
							<xs:element name="PERSONID" type="xs:int" />
							<xs:element name="Person_Name" type="xs:string" />
							<xs:element name="PostTaxRetirementPurchasePayment" type="xs:decimal" />
							<xs:element name="PostTaxEmployeeRetirementContribution" type="xs:decimal" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
		<xs:unique name="DocumentKey1">
			<xs:selector xpath=".//mstns:ReportTable01" />
			<xs:field xpath="mstns:SERVICE_PURCHASE_HEADER_ID" />
		</xs:unique>
	</xs:element>
</xs:schema>