Systest/Files/Reports/XSD Definition/rptYearlyDCTransferReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptYearlyDCTransferReport" targetNamespace="http://tempuri.org/rptYearlyDCTransferReport.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptYearlyDCTransferReport.xsd" xmlns:mstns="http://tempuri.org/rptYearlyDCTransferReport.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ReportTable01">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PERSLink_x0020_ID" type="xs:int" />
				<xs:element name="SSN" type="xs:string" />
				<xs:element name="Last_x0020_Name" type="xs:string" />
				<xs:element name="First_x0020_Name" type="xs:string" />
				<xs:element name="Application_x0020_Received_x0020_Date_x0020_" type="xs:date" />
				<xs:element name="Application_x0020_Approved_x0020_Date" type="xs:date" />
				<xs:element name="Payment_x0020_Date" type="xs:date" />
				<xs:element name="ActionStatus" type="xs:string" />
				<xs:element name="Status" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>