Files/Reports/XSD Definition/rpt1099RDetails.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rpt1099RDetails"
    targetNamespace="http://tempuri.org/rpt1099RDetails.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rpt1099RDetails.xsd"
    xmlns:mstns="http://tempuri.org/rpt1099RDetails.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ACCT_NUM" type="xs:string" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="MEMBER_NAME" type="xs:string" />
        <xs:element name="GROSS_DIST" type="xs:decimal" />
        <xs:element name="TAXABLE_AMT" type="xs:decimal" />
        <xs:element name="CAPITAL_GAIN" type="xs:decimal" />
        <xs:element name="FED_INCOME_TAX_WH" type="xs:decimal" />
        <xs:element name="NON_TAXABLE" type="xs:decimal" />
        <xs:element name="DIST_CD" type="xs:string" />
        <xs:element name="BEG_NON_TAXABLE" type="xs:decimal" />
        <xs:element name="STATE_TAX_WH" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
