Files/Reports/XSD Definition/rptAdhocIncreaseOrSupplementalCheckReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptAdhocIncreaseOrSupplementalCheckReport"
    targetNamespace="http://tempuri.org/rptAdhocIncreaseOrSupplementalCheckReport.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptAdhocIncreaseOrSupplementalCheckReport.xsd"
    xmlns:mstns="http://tempuri.org/rptAdhocIncreaseOrSupplementalCheckReport.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:element name="ReportTable01">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Payee_Perslink_ID" type="xs:int" />
				<xs:element name="Payee_Name" type="xs:string" minOccurs="0" />
				<xs:element name="Plan" type="xs:string" minOccurs="0" />
				<xs:element name="Benefit_Type" type="xs:decimal" minOccurs="0" />
				<xs:element name="Account_Relationship" type="xs:string" minOccurs="0" />
				<xs:element name="Old_Benefit_Ad_hoc_Base_amount" type="xs:decimal" minOccurs="0" />
				<xs:element name="New_Benefit_Ad_hoc_Base_amount" type="xs:decimal" minOccurs="0" />
				<xs:element name="Benefit_Ad_hoc_Base_amount_Increase" type="xs:decimal" minOccurs="0" />
				<xs:element name="Old_Federal_Tax" type="xs:decimal" minOccurs="0" />
				<xs:element name="New_Federal_Tax" type="xs:decimal" minOccurs="0" />
				<xs:element name="Federal_Tax_Increase" type="xs:decimal" minOccurs="0" />
				<xs:element name="Old_State_Tax" type="xs:decimal" minOccurs="0" />
				<xs:element name="New_State_Tax" type="xs:decimal" minOccurs="0" />
				<xs:element name="State_Tax_Increase" type="xs:decimal" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
