Files/Reports/XSD Definition/rptAppointments.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptAppointments" targetNamespace="http://tempuri.org/rptAppointments.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptAppointments.xsd" xmlns:mstns="http://tempuri.org/rptAppointments.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="ReportTable01">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="Counselor" type="xs:string" />
				<xs:element name="PersonID" type="xs:int" />
				<xs:element name="TicketID" type="xs:int" />
				<xs:element name="AppointmentDate" type="xs:dateTime" />
				<xs:element name="AppointmentType" type="xs:string" />
				<xs:element name="StartTime" type="xs:string">
				</xs:element>
				<xs:element name="EndTime" type="xs:string">
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>