Files/Reports/XSD Definition/rptContributionFileForAudit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptContributionFileForAudit"
    targetNamespace="http://tempuri.org/rptContributionFileForAudit.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptContributionFileForAudit.xsd"
    xmlns:mstns="http://tempuri.org/rptContributionFileForAudit.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ORG_CODE" type="xs:string" />
        <xs:element name="EMPLOYER_PAYROLL_HEADER_ID" type="xs:int" />
        <xs:element name="PERSLINK_ID" type="xs:int" />
        <xs:element name="FIRST_NAME" type="xs:string" />
        <xs:element name="LAST_NAME" type="xs:string" />
        <xs:element name="PLAN_NAME" type="xs:string" />  
		    <xs:element name="RECORD_TYPE_VALUE" type="xs:string" />
        <xs:element name="REPORTING_MONTH" type="xs:int" />
        <xs:element name="REPORTING_YEAR" type="xs:int" />
        <xs:element name="EE_CONTRIBUTION_CALCULATED" type="xs:decimal" />
        <xs:element name="EE_PRE_TAX_CALCULATED" type="xs:decimal" />
        <xs:element name="EE_EMPLOYER_PICKUP_CALCULATED" type="xs:decimal" />
        <xs:element name="ER_CONTRIBUTION_CALCULATED" type="xs:decimal" />
        <xs:element name="RHIC_EE_CONTRIBUTION_CALCULATED" type="xs:decimal" />
        <xs:element name="RHIC_ER_CONTRIBUTION_CALCULATED" type="xs:decimal" />
        <xs:element name="ELIGIBLE_WAGES" type="xs:decimal" />
        <xs:element name="PAY_PERIOD_START_DATE" type="xs:dateTime" />
        <xs:element name="PAY_PERIOD_END_DATE" type="xs:dateTime" />
        <xs:element name="CONTRIBUTION_AMOUNT1" type="xs:decimal" />
        <xs:element name="PROVIDER1" type="xs:string" />
        <xs:element name="CONTRIBUTION_AMOUNT2" type="xs:decimal" />
        <xs:element name="PROVIDER2" type="xs:string" />
        <xs:element name="CONTRIBUTION_AMOUNT3" type="xs:decimal" />
        <xs:element name="PROVIDER3" type="xs:string" />
        <xs:element name="CONTRIBUTION_AMOUNT4" type="xs:decimal" />
        <xs:element name="PROVIDER4" type="xs:string" />
        <xs:element name="CONTRIBUTION_AMOUNT5" type="xs:decimal" />
        <xs:element name="PROVIDER5" type="xs:string" />
        <xs:element name="CONTRIBUTION_AMOUNT6" type="xs:decimal" />
        <xs:element name="PROVIDER6" type="xs:string" />
        <xs:element name="CONTRIBUTION_AMOUNT7" type="xs:decimal" />
        <xs:element name="PROVIDER7" type="xs:string" />
        <xs:element name="POSTED_DATE" type="xs:dateTime" />
        <xs:element name="EE_PRETAX_ADDL_CALCULATED" type="xs:decimal" />
        <xs:element name="EE_POST_TAX_ADDL_CALCULATED" type="xs:decimal" />
        <xs:element name="ER_PRETAX_MATCH_CALCULATED" type="xs:decimal" />
        <xs:element name="ADEC_CALCULATED" type="xs:decimal" />
        <xs:element name="ELIGIBLE_WAGES_DEFCOMP" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
