Files/Reports/XSD Definition/rptChildSupport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptChildSupport"
    targetNamespace="http://tempuri.org/rptChildSupport.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptChildSupport.xsd"
    xmlns:mstns="http://tempuri.org/rptChildSupport.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ORGANIZATION_NAME" type="xs:string" />
        <xs:element name="LAST_NAME" type="xs:string" />
        <xs:element name="FIRST_NAME" type="xs:string" />
        <xs:element name="ACCOUNT_NUMBER" type="xs:string" />
        <xs:element name="AMOUNT" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
