Files/Reports/XSD Definition/rptContributionMaster.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptContributionMaster"
    targetNamespace="http://tempuri.org/rptContributionMaster.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptContributionMaster.xsd"
    xmlns:mstns="http://tempuri.org/rptContributionMaster.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="SUB_SYSTEM" type="xs:string" />
        <xs:element name="TRANS_TYPE" type="xs:string" />
        <xs:element name="NUM_PERSON" type="xs:int" />
        <xs:element name="SALARY_AMOUNT" type="xs:decimal" />
        <xs:element name="POST_TAX_ER_AMOUNT" type="xs:decimal" />
        <xs:element name="POST_TAX_EE_AMOUNT" type="xs:decimal" />
        <xs:element name="PRE_TAX_ER_AMOUNT" type="xs:decimal" />
        <xs:element name="PRE_TAX_EE_AMOUNT" type="xs:decimal" />
        <xs:element name="EE_RHIC_AMOUNT" type="xs:decimal" />
        <xs:element name="ER_RHIC_AMOUNT" type="xs:decimal" />
        <xs:element name="EE_ER_PICKUP_AMOUNT" type="xs:decimal" />
        <xs:element name="ER_VESTED_AMOUNT" type="xs:decimal" />
        <xs:element name="INTEREST_AMOUNT" type="xs:decimal" />
        <xs:element name="LTD_NUM_PERSON" type="xs:int" />
        <xs:element name="LTD_SALARY_AMOUNT" type="xs:decimal" />
        <xs:element name="LTD_POST_TAX_ER_AMOUNT" type="xs:decimal" />
        <xs:element name="LTD_POST_TAX_EE_AMOUNT" type="xs:decimal" />
        <xs:element name="LTD_PRE_TAX_ER_AMOUNT" type="xs:decimal" />
        <xs:element name="LTD_PRE_TAX_EE_AMOUNT" type="xs:decimal" />
        <xs:element name="LTD_EE_RHIC_AMOUNT" type="xs:decimal" />
        <xs:element name="LTD_ER_RHIC_AMOUNT" type="xs:decimal" />
        <xs:element name="LTD_EE_ER_PICKUP_AMOUNT" type="xs:decimal" />
        <xs:element name="LTD_ER_VESTED_AMOUNT" type="xs:decimal" />
        <xs:element name="LTD_INTEREST_AMOUNT" type="xs:decimal" />        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
