Files/Reports/XSD Definition/rptDeferred3YrCatchUpEnding.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptDeferred3YrCatchUpEnding" targetNamespace="http://tempuri.org/rptDeferred3YrCatchUpEnding.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptDeferred3YrCatchUpEnding.xsd" xmlns:mstns="http://tempuri.org/rptDeferred3YrCatchUpEnding.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="Document">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ReportTable01">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="person_id" type="xs:int" />
							<xs:element name="catch_up_end_date" type="xs:dateTime" />
							<xs:element name="membername" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>