Files/Reports/XSD Definition/rptHealthPremiumReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptHealthPremiumReport" targetNamespace="http://tempuri.org/rptYearly415PurchaseLimit.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptYearly415PurchaseLimit.xsd" xmlns:mstns="http://tempuri.org/rptYearly415PurchaseLimit.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="Document">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ReportTable01">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PERSLINK_ID" type="xs:int" />
							<xs:element name="HEALTH_INSURANCE_TYPE" type="xs:string" />
              <xs:element name="COVERAGE_CODE" type="xs:string" />
              <xs:element name="RATE_STRUCTURE_VALUE" type="xs:string" />
              <xs:element name="RATE_STRUCTURE_CODE" type="xs:string" />
              <xs:element name="START_DATE" type="xs:dateTime" />
              <xs:element name="END_DATE" type="xs:string" />
							<xs:element name="TOTAL_PREMIUM_AMOUNT" type="xs:decimal" />
							<xs:element name="RHIC_AMOUNT" type="xs:decimal" />
              <xs:element name="ADMIN_FEE" type="xs:decimal" />
              <xs:element name="HIS_DATE" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>