Files/Reports/XSD Definition/rptIRSPayment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptDuesWithholding"
    targetNamespace="http://tempuri.org/rptDuesWithholding.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptDuesWithholding.xsd"
    xmlns:mstns="http://tempuri.org/rptDuesWithholding.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NAME" type="xs:string" />
        <xs:element name="TRANSACTION_TYPE" type="xs:string" />
        <xs:element name="AMOUNT" type="xs:decimal" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="ORG_CODE" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
