Files/Reports/XSD Definition/rptIRS415(b)Limit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptIRS415_b_Limit"
    targetNamespace="http://tempuri.org/rptIRS415_b_Limit.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptIRS415_b_Limit.xsd"
    xmlns:mstns="http://tempuri.org/rptIRS415_b_Limit.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PERSLINK_ID" type="xs:int" />
        <xs:element name="SSN" type="xs:string" />
        <xs:element name="LAST_NAME" type="xs:string" />
        <xs:element name="FIRST_NAME" type="xs:string" />
        <xs:element name="TOTAL_PAYMENTS" type="xs:decimal" />
        <xs:element name="TFFR_DUAL" type="xs:string" />        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
