Files/Reports/XSD Definition/rptIneligibleDependentReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptIneligibleDependentReport" targetNamespace="http://tempuri.org/rptIneligibleDependentReport.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptIneligibleDependentReport.xsd" xmlns:mstns="http://tempuri.org/rptIneligibleDependentReport.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="Document">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ReportTable01">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PERSON_DEPENDENT_ID" type="xs:int" />
							<xs:element name="MemberFullName" type="xs:string" />
							<xs:element name="MemberLastName" type="xs:string" />
							<xs:element name="DependentName" type="xs:string" />
							<xs:element name="EndDate" type="xs:dateTime" />
							<xs:element name="Plan" type="xs:string" />
							<xs:element name="LevelOfcoverage" type="xs:string" />
							<xs:element name="PERSLinkID" type="xs:int" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
		<xs:unique name="DocumentKey1">
			<xs:selector xpath=".//mstns:ReportTable01" />
			<xs:field xpath="mstns:PERSON_DEPENDENT_ID" />
		</xs:unique>
	</xs:element>
</xs:schema>