Files/Reports/XSD Definition/rptJobServiceCOLAReportFor3rdPartPayor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptJobServiceCOLAReportFor3rdPartPayor"
    targetNamespace="http://tempuri.org/rptJobServiceCOLAReportFor3rdPartPayor.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptJobServiceCOLAReportFor3rdPartPayor.xsd"
    xmlns:mstns="http://tempuri.org/rptJobServiceCOLAReportFor3rdPartPayor.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:element name="ReportTable01">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Payee_Perslink_ID" type="xs:int" />
				<xs:element name="Payee_Name" type="xs:string" minOccurs="0" />
				<xs:element name="SSN" type="xs:string" minOccurs="0" />
				<xs:element name="Monthly_COLA_Amount" type="xs:decimal" minOccurs="0" />
				<xs:element name="Effective_Date" type="xs:dateTime" minOccurs="0" />
				<xs:element name="Cumulative_COLA_increases" type="xs:decimal" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
