Files/Reports/XSD Definition/rptListOfScheduledSeminars.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/XMLSchema.xsd" xmlns:mstns="http://tempuri.org/XMLSchema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="Document">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ReportTable01">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ORGCODEID" type="xs:int" />
							<xs:element name="TICKETNUMBER" type="xs:int" />
							<xs:element name="SEMINARTYPE" type="xs:string" />
							<xs:element name="FACILITATOR" type="xs:string" />
							<xs:element name="SEMINARDAY1" type="xs:date" />
							<xs:element name="SEMINARDAY2" type="xs:date" />
							<xs:element name="ATTENDEEFEE" type="xs:decimal" />
							<xs:element name="SEMINARATTENDEEID" type="xs:int" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>