Files/Reports/XSD Definition/rptMonthlyBenefitPaymentbyItem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptMonthlyBenefitPaymentbyItemReport"
    targetNamespace="http://tempuri.org/rptMonthlyBenefitPaymentbyItemReport.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptMonthlyBenefitPaymentbyItemReport.xsd"
    xmlns:mstns="http://tempuri.org/rptMonthlyBenefitPaymentbyItemReport.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="ITEM_DESCRIPTION" type="xs:string" />
        <xs:element name="AMOUNT" type="xs:decimal" />
        <xs:element name="ITEM_TYPE_DIRECTION" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
