Files/Reports/XSD Definition/rptMaritalStatusChange.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptMaritalStatusChange" targetNamespace="http://tempuri.org/rptMaritalStatusChange.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptMaritalStatusChange.xsd" xmlns:mstns="http://tempuri.org/rptMaritalStatusChange.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="Document">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ReportTable01">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="person_id" type="xs:int" />
							<xs:element name="FirstName" type="xs:string" />
							<xs:element name="LastName" type="xs:string" />
							<xs:element name="PriorMaritalStatus" type="xs:string" />
							<xs:element name="CurrentMaritalStatus" type="xs:string" />
							<xs:element name="PlanName" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
		<xs:unique name="DocumentKey1">
			<xs:selector xpath=".//mstns:ReportTable01" />
			<xs:field xpath="mstns:person_id" />
		</xs:unique>
	</xs:element>
</xs:schema>