Files/Reports/XSD Definition/rptMasterPayment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptMasterPayment"
    targetNamespace="http://tempuri.org/rptMasterPayment.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptMasterPayment.xsd"
    xmlns:mstns="http://tempuri.org/rptMasterPayment.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PAYMENT_METHOD" type="xs:string" />
        <xs:element name="PAYMENT_METHOD_VALUE" type="xs:string" />
        <xs:element name="PAYMENT_METHOD_DESC" type="xs:string" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="BENEFIT_ACCOUNT_TYPE_DESCR" type="xs:string" />
        <xs:element name="ACCOUNT_RELATION_DESCR" type="xs:string" />
        <xs:element name="TXRF" type="xs:decimal" />
        <xs:element name="NXRF" type="xs:decimal" />
        <xs:element name="FDRF" type="xs:decimal" />
        <xs:element name="STRF" type="xs:decimal" />
        <xs:element name="TXRL" type="xs:decimal" />
        <xs:element name="NXRL" type="xs:decimal" />
        <xs:element name="TXAN" type="xs:decimal" />
        <xs:element name="NXAN" type="xs:decimal" />
        <xs:element name="FDAN" type="xs:decimal" />
        <xs:element name="STAN" type="xs:decimal" />
        <xs:element name="THRD" type="xs:decimal" />
        <xs:element name="CHLD" type="xs:decimal" />
        <xs:element name="LEVY" type="xs:decimal" />
        <xs:element name="DUES" type="xs:decimal" />
        <xs:element name="HLTH" type="xs:decimal" />
        <xs:element name="LIFE" type="xs:decimal" />
        <xs:element name="DNTL" type="xs:decimal" />
        <xs:element name="VISN" type="xs:decimal" />
        <xs:element name="LTCI" type="xs:decimal" />
        <xs:element name="MCPD" type="xs:decimal" />  
        <xs:element name="BLNK" type="xs:decimal" />
        <xs:element name="RHIC" type="xs:decimal" />
        <xs:element name="EXCS" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
