Files/Reports/XSD Definition/rptMedicareDependentOfDiscrepancies.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptMedicareDependentOfDiscrepancies"
    targetNamespace="http://tempuri.org/rptMedicareDependentOfDiscrepancies.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptMedicareDependentOfDiscrepancies.xsd"
    xmlns:mstns="http://tempuri.org/rptMedicareDependentOfDiscrepancies.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PERSLINK_ID" type="xs:int" /> 
        <xs:element name="Dependent_Of_ID" type="xs:int" />              
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
