Files/Reports/XSD Definition/rptOverduePremiumAging.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptOverduePremiumAging" targetNamespace="http://tempuri.org/rptOverduePremiumAging.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptOverduePremiumAging.xsd" xmlns:mstns="http://tempuri.org/rptOverduePremiumAging.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ReportTable01">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Person_id" type="xs:int" />
				<xs:element name="First_Name" type="xs:string" />
				<xs:element name="Last_Name" type="xs:string" />
				<xs:element name="_x0033_0_DAY_DUE" type="xs:decimal" />
				<xs:element name="_x0036_0_DAY_DUE" type="xs:decimal" />
				<xs:element name="_x0039_0_DAY_Due" type="xs:decimal" />
				<xs:element name="MORE_THAN_90_DAY_DUE" type="xs:decimal" />
				<xs:element name="TOTAL_AMOUNT_DUE" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>