Files/Reports/XSD Definition/rptOnlineMemberStatement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptOnlineMemberStatement"
    targetNamespace="http://tempuri.org/rptOnlineMemberStatement.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptOnlineMemberStatement.xsd"
    xmlns:mstns="http://tempuri.org/rptOnlineMemberStatement.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:element name="ReportTable01">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="FULL_NAME" type="xs:string" />
				<xs:element name="DATE_OF_BIRTH" type="xs:dateTime" />
				<xs:element name="GENDER_DESCRIPTION" type="xs:string" />
				<xs:element name="MARITAL_DESCRIPTION" type="xs:string" />
				<xs:element name="SPOUSE_FULL_NAME" type="xs:string" />
				<xs:element name="SPOUSE_DOB" type="xs:dateTime" />
				<xs:element name="SPOUSE_GENDER_DESCRIPTION" type="xs:string" />
				<xs:element name="PERSON_EMPL_DETAIL_ID" type="xs:int" />
				<xs:element name="SEASONAL_MONTHS_DESCRIPTION" type="xs:string" />
				<xs:element name="ADDR_LINE1" type="xs:string" />
				<xs:element name="ADDR_LINE2" type="xs:string" />
				<xs:element name="ADDR_CITY" type="xs:string" />
				<xs:element name="ADDR_STATE_DESCRIPTION" type="xs:string" />
				<xs:element name="ADDR_COUNTRY_ID" type="xs:int" />
				<xs:element name="ADDR_COUNTRY_VALUE" type="xs:string" />
				<xs:element name="ADDR_COUNTRY_DESCRIPTION" type="xs:string" />
				<xs:element name="ZIPCODE" type="xs:string" />
				<xs:element name="FOREIGN_PROVINCE" type="xs:string" />
				<xs:element name="FOREIGN_POSTAL_CODE" type="xs:string" />
				<xs:element name="IS_EMPLOYMENT_ENDED" type="xs:string" />
				<xs:element name="IS_EMPLOYMENT_ENDED_A_YEAR_BACK" type="xs:string" />
				<xs:element name="IS_PERSON_MARRIED" type="xs:string" />
				<xs:element name="IS_DEFERRED_ENROLLED" type="xs:string" />
				<xs:element name="IS_457_DEFERRED_ENROLLED" type="xs:string" />
				<xs:element name="IS_HEALTH_ENROLLED" type="xs:string" />
				<xs:element name="IS_LIFE_ENROLLED" type="xs:string" />
				<xs:element name="IS_DENTAL_ENROLLED" type="xs:string" />
				<xs:element name="IS_VISION_ENROLLED" type="xs:string" />
				<xs:element name="IS_LTC_ENROLLED" type="xs:string" />
				<xs:element name="IS_EAP_ENROLLED" type="xs:string" />
				<xs:element name="IS_FLEX_ENROLLED" type="xs:string" />
				<xs:element name="IS_JOB_SERVICE_ENROLLED" type="xs:string" />
				<xs:element name="IS_JUDGE_ENROLLED" type="xs:string" />
				<xs:element name="HEALTH_LEVEL_OF_COVERAGE" type="xs:string" />
				<xs:element name="DENTAL_LEVEL_OF_COVERAGE" type="xs:string" />
				<xs:element name="VISION_LEVEL_OF_COVERAGE" type="xs:string" />
				<xs:element name="LTC_LEVEL_OF_COVERAGE" type="xs:string" />
				<xs:element name="LTC_INSURANCE_TYPE" type="xs:string" />
				<xs:element name="LTC_SPOUSE_LEVEL_OF_COVERAGE" type="xs:string" />				
				<xs:element name="EAP_PROVIDER_NAME" type="xs:string" />
				<xs:element name="VESTED_EMPLOYER_SCHEDULE_PERCENTAGE" type="xs:decimal" />
				<xs:element name="DC_VESTED_EMPLOYER_SCHEDULE_PERCENTAGE" type="xs:decimal" />				
				<xs:element name="IS_DC_PLAN_ENROLED" type="xs:string" />
				<xs:element name="IS_DB_PLAN_ENROLED" type="xs:string" />
				<xs:element name="IS_HP_ENROLLED" type="xs:string" />
				<xs:element name="IS_PAYEE_ACCOUNT_EXIST_FLAG" type="xs:string" />
				<xs:element name="IS_ADJUSTMENTS_EXISTS" type="xs:string" />
				<xs:element name="IS_ELIGIBLE_FOR_INSURANCE_PLANS" type="xs:string" />
				<xs:element name="IS_ELIGIBLE_FOR_HEALTH" type="xs:string" />
				<xs:element name="IS_ELIGIBLE_FOR_LIFE" type="xs:string" />
				<xs:element name="IS_ELIGIBLE_FOR_DENTAL" type="xs:string" />
				<xs:element name="IS_ELIGIBLE_FOR_VISION" type="xs:string" />
				<xs:element name="IS_ELIGIBLE_FOR_LTC" type="xs:string" />
				<xs:element name="IS_ELIGIBLE_FOR_FLEX" type="xs:string" />
				<xs:element name="IS_ELIGIBLE_FOR_DEFF" type="xs:string" />
				<xs:element name="IS_ELIGIBLE_FOR_457" type="xs:string" />
				<xs:element name="IS_ELIGIBLE_FOR_EAP" type="xs:string" />
				<xs:element name="IS_MAIN_ENROLLED" type="xs:string" />
				<xs:element name="IS_LE_ENROLLED" type="xs:string" />
				<xs:element name="IS_NG_ENROLLED" type="xs:string" />
				<xs:element name="IS_VESTED_IN_JUDGES" type="xs:string" />
				<xs:element name="IS_VESTED_IN_DB" type="xs:string" />
				<xs:element name="IS_NRD_ATTAINED" type="xs:string" />
				<xs:element name="APPROVED_TFFR_TIAA_SERVICE" type="xs:decimal" />
				<xs:element name="TENTATIVE_TFFR_TIAA_SERVICE" type="xs:decimal" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />
				<xs:element name="STATEMENT_EFFECTIVE_DATE" type="xs:dateTime" />
        <xs:element name="Limit_401a" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable02">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_PLAN_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="PERSON_ACCOUNT_ID" type="xs:int" />
				<xs:element name="STATEMENT_EFFECTIVE_DATE" type="xs:dateTime" />
				<xs:element name="PREVIOUS_MEMBER_ACCOUNT_BALANCE_LTD" type="xs:decimal" />
				<xs:element name="IS_ELIGIBLE_FOR_ENROL_FLAG" type="xs:string" />
				<xs:element name="PROVIDER_NAME" type="xs:string" />
				<xs:element name="VESTED_EMPLOYER_CONT" type="xs:decimal" />
				<xs:element name="SERVICE_PURCHASE_AMOUNT" type="xs:decimal" />
				<xs:element name="INTEREST_AMOUNT" type="xs:decimal" />
				<xs:element name="TAXABLE_AMOUNT" type="xs:decimal" />
				<xs:element name="NONTAXABLE_AMOUNT" type="xs:decimal" />
				<xs:element name="VESTED_EMPLOYER_CONT_PERCENT" type="xs:decimal" />
				<xs:element name="YTD_MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="YTD_EMPLOYER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="QDRO_AMOUNT" type="xs:decimal" />
				<xs:element name="IS_RTW_INDICATOR" type="xs:string" />
				<xs:element name="EE_RHIC_CONTRIBUTION_AMOUNT" type="xs:decimal" />
				<xs:element name="MEMBER_ACCOUNT_BALANCE_LTD" type="xs:decimal" />
				<xs:element name="LTD_MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="LTD_EMPLOYER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="PSC_IN_YEAR_MONTHS" type="xs:decimal" />
				<xs:element name="TVSC_IN_YEAR_MONTHS" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_AGE" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
				<xs:element name="SINGLE_LIFE_BENEFIT_AMOUNT" type="xs:decimal" />
				<xs:element name="RHIC_AMOUNT" type="xs:decimal" />
				<xs:element name="TFFR_SERVICE" type="xs:decimal" />
				<xs:element name="TIAA_CREF_SERVICE" type="xs:decimal" />
				<xs:element name="JOBSERVICE_SICK_LEAVE" type="xs:decimal" />
				<xs:element name="MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="TIER1" type="xs:decimal" />
				<xs:element name="TIER2" type="xs:decimal" />
				<xs:element name="TIER3" type="xs:decimal" />
				<xs:element name="IS_DB_PLAN" type="xs:string" />
				<xs:element name="IS_DC_PLAN" type="xs:string" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />						
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable03">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_PLAN_BENEFICIARY_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="BENEFICIARY_TYPE_DESCRIPTION" type="xs:string" />
				<xs:element name="BENEFICIARY_FULL_NAME" type="xs:string" />
				<xs:element name="RELATIONSHIP_DESCRIPTION" type="xs:string" />
				<xs:element name="DATE_OF_BIRTH" type="xs:dateTime" />
				<xs:element name="PERCENTAGE" type="xs:decimal" />
				<xs:element name="IS_BENEFICIARY_FLAG" type="xs:string" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable04">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_DEF_COMP_PROVIDER_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PROVIDER_NAME" type="xs:string" />
				<xs:element name="PER_PAY_PERIOD_CONTRIBUTION_AMOUNT" type="xs:decimal" />
				<xs:element name="STATEMENT_EFFECTIVE_DATE" type="xs:dateTime" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable05">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_FLEX_OPTION_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="COVERAGE_DESCRIPTION" type="xs:string" />
				<xs:element name="ANNUAL_PLEDGE_AMOUNT" type="xs:decimal" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable06">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_FLEX_CONVERSION_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="CONVERSION_ORG_NAME" type="xs:string" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable07">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_LIFE_COVERAGE_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="LEVEL_OF_COVERAGE" type="xs:string" />
				<xs:element name="COVERAGE_AMOUNT" type="xs:decimal" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable08">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="GROUP_TYPE_ID" type="xs:int" />
				<xs:element name="GROUP_TYPE_VALUE" type="xs:string" />
				<xs:element name="BATCH_REQUEST_TYPE_ID" type="xs:int" />
				<xs:element name="BATCH_REQUEST_TYPE_VALUE" type="xs:string" />
				<xs:element name="STATEMENT_EFFECTIVE_DATE" type="xs:dateTime" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_PARTICIPATION_STATUS_ID" type="xs:int" />
				<xs:element name="PLAN_PARTICIPATION_STATUS_VALUE" type="xs:string" />
				<xs:element name="JOB_CLASS_ID" type="xs:int" />
				<xs:element name="JOB_CLASS_VALUE" type="xs:string" />
				<xs:element name="EMPLOYMENT_TYPE_ID" type="xs:int" />
				<xs:element name="EMPLOYMENT_TYPE_VALUE" type="xs:string" />
				<xs:element name="ORG_ID" type="xs:int" />
				<xs:element name="STATUS_ID" type="xs:int" />
				<xs:element name="STATUS_VALUE" type="xs:string" />
				<xs:element name="BATCH_CURRENT_STATUS_ID" type="xs:int" />
				<xs:element name="BATCH_CURRENT_STATUS_VALUE" type="xs:string" />
				<xs:element name="ACTION_STATUS_ID" type="xs:int" />
				<xs:element name="ACTION_STATUS_VALUE" type="xs:string" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />
        <xs:element name="REQUESTED_BY" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable09">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_CALCULATION_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="AGE_DESCRIPTION" type="xs:string" />
				<xs:element name="MONTHLY_BENEFIT" type="xs:decimal" />
				<xs:element name="RHIC_BENEFIT" type="xs:decimal" />
				<xs:element name="IS_NRD_DATE" type="xs:dateTime" />
				<xs:element name="MEMBER_ACCOUNT_BALANCE" type="xs:decimal" />
				<xs:element name="QDRO_DEDUCTIONS" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
				<xs:element name="FINAL_AVERAGE_SALARY" type="xs:decimal" />
				<xs:element name="DISABILITY_BENEFIT_PERCENTAGE" type="xs:decimal" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable10">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_PLAN_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="PERSON_ACCOUNT_ID" type="xs:int" />
				<xs:element name="STATEMENT_EFFECTIVE_DATE" type="xs:dateTime" />
				<xs:element name="PREVIOUS_MEMBER_ACCOUNT_BALANCE_LTD" type="xs:decimal" />
				<xs:element name="IS_ELIGIBLE_FOR_ENROL_FLAG" type="xs:string" />
				<xs:element name="PROVIDER_NAME" type="xs:string" />
				<xs:element name="VESTED_EMPLOYER_CONT" type="xs:decimal" />
				<xs:element name="SERVICE_PURCHASE_AMOUNT" type="xs:decimal" />
				<xs:element name="INTEREST_AMOUNT" type="xs:decimal" />
				<xs:element name="TAXABLE_AMOUNT" type="xs:decimal" />
				<xs:element name="NONTAXABLE_AMOUNT" type="xs:decimal" />
				<xs:element name="VESTED_EMPLOYER_CONT_PERCENT" type="xs:decimal" />
				<xs:element name="YTD_MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="YTD_EMPLOYER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="QDRO_AMOUNT" type="xs:decimal" />
				<xs:element name="IS_RTW_INDICATOR" type="xs:string" />
				<xs:element name="EE_RHIC_CONTRIBUTION_AMOUNT" type="xs:decimal" />
				<xs:element name="MEMBER_ACCOUNT_BALANCE_LTD" type="xs:decimal" />
				<xs:element name="LTD_MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="LTD_EMPLOYER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="PSC_IN_YEAR_MONTHS" type="xs:decimal" />
				<xs:element name="TVSC_IN_YEAR_MONTHS" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_AGE" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
				<xs:element name="SINGLE_LIFE_BENEFIT_AMOUNT" type="xs:decimal" />
				<xs:element name="RHIC_AMOUNT" type="xs:decimal" />
				<xs:element name="TFFR_SERVICE" type="xs:decimal" />
				<xs:element name="TIAA_CREF_SERVICE" type="xs:decimal" />
				<xs:element name="JOBSERVICE_SICK_LEAVE" type="xs:decimal" />
				<xs:element name="MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="TIER1" type="xs:decimal" />
				<xs:element name="TIER2" type="xs:decimal" />
				<xs:element name="TIER3" type="xs:decimal" />
				<xs:element name="IS_DB_PLAN" type="xs:string" />
				<xs:element name="IS_DC_PLAN" type="xs:string" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable11">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_PLAN_BENEFICIARY_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="BENEFICIARY_TYPE_DESCRIPTION" type="xs:string" />
				<xs:element name="BENEFICIARY_FULL_NAME" type="xs:string" />
				<xs:element name="RELATIONSHIP_DESCRIPTION" type="xs:string" />
				<xs:element name="DATE_OF_BIRTH" type="xs:dateTime" />
				<xs:element name="PERCENTAGE" type="xs:decimal" />
				<xs:element name="IS_BENEFICIARY_FLAG" type="xs:string" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable12">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_PLAN_BENEFICIARY_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="BENEFICIARY_TYPE_DESCRIPTION" type="xs:string" />
				<xs:element name="BENEFICIARY_FULL_NAME" type="xs:string" />
				<xs:element name="RELATIONSHIP_DESCRIPTION" type="xs:string" />
				<xs:element name="DATE_OF_BIRTH" type="xs:dateTime" />
				<xs:element name="PERCENTAGE" type="xs:decimal" />
				<xs:element name="IS_BENEFICIARY_FLAG" type="xs:string" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable13">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_PLAN_BENEFICIARY_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="BENEFICIARY_TYPE_DESCRIPTION" type="xs:string" />
				<xs:element name="BENEFICIARY_FULL_NAME" type="xs:string" />
				<xs:element name="RELATIONSHIP_DESCRIPTION" type="xs:string" />
				<xs:element name="DATE_OF_BIRTH" type="xs:dateTime" />
				<xs:element name="PERCENTAGE" type="xs:decimal" />
				<xs:element name="IS_BENEFICIARY_FLAG" type="xs:string" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />				
			</xs:sequence>
		</xs:complexType>
	</xs:element>		
	<xs:element name="ReportTable14">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_PLAN_BENEFICIARY_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="BENEFICIARY_TYPE_DESCRIPTION" type="xs:string" />
				<xs:element name="BENEFICIARY_FULL_NAME" type="xs:string" />
				<xs:element name="RELATIONSHIP_DESCRIPTION" type="xs:string" />
				<xs:element name="DATE_OF_BIRTH" type="xs:dateTime" />
				<xs:element name="PERCENTAGE" type="xs:decimal" />
				<xs:element name="IS_BENEFICIARY_FLAG" type="xs:string" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable15">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="VESTED_EMPLOYER_CONT_PERCENT" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable16">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="VESTED_EMPLOYER_CONT_PERCENT" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable17">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_CALCULATION_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="AGE_DESCRIPTION" type="xs:string" />
				<xs:element name="MONTHLY_BENEFIT" type="xs:decimal" />
				<xs:element name="RHIC_BENEFIT" type="xs:decimal" />
				<xs:element name="IS_NRD_DATE" type="xs:dateTime" />
				<xs:element name="MEMBER_ACCOUNT_BALANCE" type="xs:decimal" />
				<xs:element name="QDRO_DEDUCTIONS" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
				<xs:element name="FINAL_AVERAGE_SALARY" type="xs:decimal" />
				<xs:element name="DISABILITY_BENEFIT_PERCENTAGE" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable18">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_CALCULATION_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="AGE_DESCRIPTION" type="xs:string" />
				<xs:element name="MONTHLY_BENEFIT" type="xs:decimal" />
				<xs:element name="RHIC_BENEFIT" type="xs:decimal" />
				<xs:element name="IS_NRD_DATE" type="xs:dateTime" />
				<xs:element name="MEMBER_ACCOUNT_BALANCE" type="xs:decimal" />
				<xs:element name="QDRO_DEDUCTIONS" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
				<xs:element name="FINAL_AVERAGE_SALARY" type="xs:decimal" />
				<xs:element name="DISABILITY_BENEFIT_PERCENTAGE" type="xs:decimal" />
        <xs:element name="MAB_AS_ON_EFFECTIVE_DATE" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable19">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_CALCULATION_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="AGE_DESCRIPTION" type="xs:string" />
				<xs:element name="MONTHLY_BENEFIT" type="xs:decimal" />
				<xs:element name="RHIC_BENEFIT" type="xs:decimal" />
				<xs:element name="IS_NRD_DATE" type="xs:dateTime" />
				<xs:element name="MEMBER_ACCOUNT_BALANCE" type="xs:decimal" />
				<xs:element name="QDRO_DEDUCTIONS" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
				<xs:element name="FINAL_AVERAGE_SALARY" type="xs:decimal" />
				<xs:element name="DISABILITY_BENEFIT_PERCENTAGE" type="xs:decimal" />
        <xs:element name="MAB_AS_ON_EFFECTIVE_DATE" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable20">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_PLAN_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="PERSON_ACCOUNT_ID" type="xs:int" />
				<xs:element name="STATEMENT_EFFECTIVE_DATE" type="xs:dateTime" />
				<xs:element name="PREVIOUS_MEMBER_ACCOUNT_BALANCE_LTD" type="xs:decimal" />
				<xs:element name="IS_ELIGIBLE_FOR_ENROL_FLAG" type="xs:string" />
				<xs:element name="PROVIDER_NAME" type="xs:string" />
				<xs:element name="VESTED_EMPLOYER_CONT" type="xs:decimal" />
				<xs:element name="SERVICE_PURCHASE_AMOUNT" type="xs:decimal" />
				<xs:element name="INTEREST_AMOUNT" type="xs:decimal" />
				<xs:element name="TAXABLE_AMOUNT" type="xs:decimal" />
				<xs:element name="NONTAXABLE_AMOUNT" type="xs:decimal" />
				<xs:element name="VESTED_EMPLOYER_CONT_PERCENT" type="xs:decimal" />
				<xs:element name="YTD_MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="YTD_EMPLOYER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="QDRO_AMOUNT" type="xs:decimal" />
				<xs:element name="IS_RTW_INDICATOR" type="xs:string" />
				<xs:element name="EE_RHIC_CONTRIBUTION_AMOUNT" type="xs:decimal" />
				<xs:element name="MEMBER_ACCOUNT_BALANCE_LTD" type="xs:decimal" />
				<xs:element name="LTD_MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="LTD_EMPLOYER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="PSC_IN_YEAR_MONTHS" type="xs:decimal" />
				<xs:element name="TVSC_IN_YEAR_MONTHS" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_AGE" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
				<xs:element name="SINGLE_LIFE_BENEFIT_AMOUNT" type="xs:decimal" />
				<xs:element name="RHIC_AMOUNT" type="xs:decimal" />
				<xs:element name="TFFR_SERVICE" type="xs:decimal" />
				<xs:element name="TIAA_CREF_SERVICE" type="xs:decimal" />
				<xs:element name="JOBSERVICE_SICK_LEAVE" type="xs:decimal" />
				<xs:element name="MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="FINAL_FAS" type="xs:decimal" />
				<xs:element name="TIER1" type="xs:decimal" />
				<xs:element name="TIER2" type="xs:decimal" />
				<xs:element name="TIER3" type="xs:decimal" />
				<xs:element name="IS_DB_PLAN" type="xs:string" />
				<xs:element name="IS_DC_PLAN" type="xs:string" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable21">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_PLAN_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="PERSON_ACCOUNT_ID" type="xs:int" />
				<xs:element name="STATEMENT_EFFECTIVE_DATE" type="xs:dateTime" />
				<xs:element name="PREVIOUS_MEMBER_ACCOUNT_BALANCE_LTD" type="xs:decimal" />
				<xs:element name="IS_ELIGIBLE_FOR_ENROL_FLAG" type="xs:string" />
				<xs:element name="PROVIDER_NAME" type="xs:string" />
				<xs:element name="VESTED_EMPLOYER_CONT" type="xs:decimal" />
				<xs:element name="SERVICE_PURCHASE_AMOUNT" type="xs:decimal" />
				<xs:element name="INTEREST_AMOUNT" type="xs:decimal" />
				<xs:element name="TAXABLE_AMOUNT" type="xs:decimal" />
				<xs:element name="NONTAXABLE_AMOUNT" type="xs:decimal" />
				<xs:element name="VESTED_EMPLOYER_CONT_PERCENT" type="xs:decimal" />
				<xs:element name="YTD_MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="YTD_EMPLOYER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="QDRO_AMOUNT" type="xs:decimal" />
				<xs:element name="IS_RTW_INDICATOR" type="xs:string" />
				<xs:element name="EE_RHIC_CONTRIBUTION_AMOUNT" type="xs:decimal" />
				<xs:element name="MEMBER_ACCOUNT_BALANCE_LTD" type="xs:decimal" />
				<xs:element name="LTD_MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="LTD_EMPLOYER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="PSC_IN_YEAR_MONTHS" type="xs:decimal" />
				<xs:element name="TVSC_IN_YEAR_MONTHS" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_AGE" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
				<xs:element name="SINGLE_LIFE_BENEFIT_AMOUNT" type="xs:decimal" />
				<xs:element name="RHIC_AMOUNT" type="xs:decimal" />
				<xs:element name="TFFR_SERVICE" type="xs:decimal" />
				<xs:element name="TIAA_CREF_SERVICE" type="xs:decimal" />
				<xs:element name="JOBSERVICE_SICK_LEAVE" type="xs:decimal" />
				<xs:element name="MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="FINAL_FAS" type="xs:decimal" />
				<xs:element name="TIER1" type="xs:decimal" />
				<xs:element name="TIER2" type="xs:decimal" />
				<xs:element name="TIER3" type="xs:decimal" />
				<xs:element name="IS_DB_PLAN" type="xs:string" />
				<xs:element name="IS_DC_PLAN" type="xs:string" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable22">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_PLAN_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="PERSON_ACCOUNT_ID" type="xs:int" />
				<xs:element name="STATEMENT_EFFECTIVE_DATE" type="xs:dateTime" />
				<xs:element name="PREVIOUS_MEMBER_ACCOUNT_BALANCE_LTD" type="xs:decimal" />
				<xs:element name="IS_ELIGIBLE_FOR_ENROL_FLAG" type="xs:string" />
				<xs:element name="PROVIDER_NAME" type="xs:string" />
				<xs:element name="VESTED_EMPLOYER_CONT" type="xs:decimal" />
				<xs:element name="SERVICE_PURCHASE_AMOUNT" type="xs:decimal" />
				<xs:element name="INTEREST_AMOUNT" type="xs:decimal" />
				<xs:element name="TAXABLE_AMOUNT" type="xs:decimal" />
				<xs:element name="NONTAXABLE_AMOUNT" type="xs:decimal" />
				<xs:element name="VESTED_EMPLOYER_CONT_PERCENT" type="xs:decimal" />
				<xs:element name="YTD_MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="YTD_EMPLOYER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="QDRO_AMOUNT" type="xs:decimal" />
				<xs:element name="IS_RTW_INDICATOR" type="xs:string" />
				<xs:element name="EE_RHIC_CONTRIBUTION_AMOUNT" type="xs:decimal" />
				<xs:element name="MEMBER_ACCOUNT_BALANCE_LTD" type="xs:decimal" />
				<xs:element name="LTD_MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="LTD_EMPLOYER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="PSC_IN_YEAR_MONTHS" type="xs:decimal" />
				<xs:element name="TVSC_IN_YEAR_MONTHS" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_AGE" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
				<xs:element name="SINGLE_LIFE_BENEFIT_AMOUNT" type="xs:decimal" />
				<xs:element name="RHIC_AMOUNT" type="xs:decimal" />
				<xs:element name="TFFR_SERVICE" type="xs:decimal" />
				<xs:element name="TIAA_CREF_SERVICE" type="xs:decimal" />
				<xs:element name="JOBSERVICE_SICK_LEAVE" type="xs:decimal" />
				<xs:element name="MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="FINAL_FAS" type="xs:decimal" />
				<xs:element name="TIER1" type="xs:decimal" />
				<xs:element name="TIER2" type="xs:decimal" />
				<xs:element name="TIER3" type="xs:decimal" />
				<xs:element name="IS_DB_PLAN" type="xs:string" />
				<xs:element name="IS_DC_PLAN" type="xs:string" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable23">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_CALCULATION_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="AGE_DESCRIPTION" type="xs:string" />
				<xs:element name="MONTHLY_BENEFIT" type="xs:decimal" />
				<xs:element name="RHIC_BENEFIT" type="xs:decimal" />
				<xs:element name="IS_NRD_DATE" type="xs:dateTime" />
				<xs:element name="MEMBER_ACCOUNT_BALANCE" type="xs:decimal" />
				<xs:element name="QDRO_DEDUCTIONS" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
				<xs:element name="FINAL_AVERAGE_SALARY" type="xs:decimal" />
				<xs:element name="DISABILITY_BENEFIT_PERCENTAGE" type="xs:decimal" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable24">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_PLAN_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="PERSON_ACCOUNT_ID" type="xs:int" />
				<xs:element name="STATEMENT_EFFECTIVE_DATE" type="xs:dateTime" />
				<xs:element name="PREVIOUS_MEMBER_ACCOUNT_BALANCE_LTD" type="xs:decimal" />
				<xs:element name="IS_ELIGIBLE_FOR_ENROL_FLAG" type="xs:string" />
				<xs:element name="PROVIDER_NAME" type="xs:string" />
				<xs:element name="VESTED_EMPLOYER_CONT" type="xs:decimal" />
				<xs:element name="SERVICE_PURCHASE_AMOUNT" type="xs:decimal" />
				<xs:element name="INTEREST_AMOUNT" type="xs:decimal" />
				<xs:element name="TAXABLE_AMOUNT" type="xs:decimal" />
				<xs:element name="NONTAXABLE_AMOUNT" type="xs:decimal" />
				<xs:element name="VESTED_EMPLOYER_CONT_PERCENT" type="xs:decimal" />
				<xs:element name="YTD_MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="YTD_EMPLOYER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="QDRO_AMOUNT" type="xs:decimal" />
				<xs:element name="IS_RTW_INDICATOR" type="xs:string" />
				<xs:element name="EE_RHIC_CONTRIBUTION_AMOUNT" type="xs:decimal" />
				<xs:element name="MEMBER_ACCOUNT_BALANCE_LTD" type="xs:decimal" />
				<xs:element name="LTD_MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="LTD_EMPLOYER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="PSC_IN_YEAR_MONTHS" type="xs:decimal" />
				<xs:element name="TVSC_IN_YEAR_MONTHS" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_AGE" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
				<xs:element name="SINGLE_LIFE_BENEFIT_AMOUNT" type="xs:decimal" />
				<xs:element name="RHIC_AMOUNT" type="xs:decimal" />
				<xs:element name="TFFR_SERVICE" type="xs:decimal" />
				<xs:element name="TIAA_CREF_SERVICE" type="xs:decimal" />
				<xs:element name="JOBSERVICE_SICK_LEAVE" type="xs:decimal" />
				<xs:element name="MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="TIER1" type="xs:decimal" />
				<xs:element name="TIER2" type="xs:decimal" />
				<xs:element name="TIER3" type="xs:decimal" />
				<xs:element name="IS_DB_PLAN" type="xs:string" />
				<xs:element name="IS_DC_PLAN" type="xs:string" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable25">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_CALCULATION_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="AGE_DESCRIPTION" type="xs:string" />
				<xs:element name="MONTHLY_BENEFIT" type="xs:decimal" />
				<xs:element name="RHIC_BENEFIT" type="xs:decimal" />
				<xs:element name="IS_NRD_DATE" type="xs:dateTime" />
				<xs:element name="MEMBER_ACCOUNT_BALANCE" type="xs:decimal" />
				<xs:element name="QDRO_DEDUCTIONS" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
				<xs:element name="FINAL_AVERAGE_SALARY" type="xs:decimal" />
				<xs:element name="DISABILITY_BENEFIT_PERCENTAGE" type="xs:decimal" />
        <xs:element name="MAB_AS_ON_EFFECTIVE_DATE" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable26">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_CALCULATION_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="AGE_DESCRIPTION" type="xs:string" />
				<xs:element name="MONTHLY_BENEFIT" type="xs:decimal" />
				<xs:element name="RHIC_BENEFIT" type="xs:decimal" />
				<xs:element name="IS_NRD_DATE" type="xs:dateTime" />
				<xs:element name="MEMBER_ACCOUNT_BALANCE" type="xs:decimal" />
				<xs:element name="QDRO_DEDUCTIONS" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
				<xs:element name="FINAL_AVERAGE_SALARY" type="xs:decimal" />
				<xs:element name="PENSION_SERVICE_CREDIT" type="xs:decimal" />
				<xs:element name="DISABILITY_BENEFIT_PERCENTAGE" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable27">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_PLAN_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="PERSON_ACCOUNT_ID" type="xs:int" />
				<xs:element name="STATEMENT_EFFECTIVE_DATE" type="xs:dateTime" />
				<xs:element name="PREVIOUS_MEMBER_ACCOUNT_BALANCE_LTD" type="xs:decimal" />
				<xs:element name="IS_ELIGIBLE_FOR_ENROL_FLAG" type="xs:string" />
				<xs:element name="PROVIDER_NAME" type="xs:string" />
				<xs:element name="VESTED_EMPLOYER_CONT" type="xs:decimal" />
				<xs:element name="SERVICE_PURCHASE_AMOUNT" type="xs:decimal" />
				<xs:element name="INTEREST_AMOUNT" type="xs:decimal" />
				<xs:element name="TAXABLE_AMOUNT" type="xs:decimal" />
				<xs:element name="NONTAXABLE_AMOUNT" type="xs:decimal" />
				<xs:element name="VESTED_EMPLOYER_CONT_PERCENT" type="xs:decimal" />
				<xs:element name="YTD_MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="YTD_EMPLOYER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="QDRO_AMOUNT" type="xs:decimal" />
				<xs:element name="IS_RTW_INDICATOR" type="xs:string" />
				<xs:element name="EE_RHIC_CONTRIBUTION_AMOUNT" type="xs:decimal" />
				<xs:element name="MEMBER_ACCOUNT_BALANCE_LTD" type="xs:decimal" />
				<xs:element name="LTD_MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="LTD_EMPLOYER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="PSC_IN_YEAR_MONTHS" type="xs:decimal" />
				<xs:element name="TVSC_IN_YEAR_MONTHS" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_AGE" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
				<xs:element name="SINGLE_LIFE_BENEFIT_AMOUNT" type="xs:decimal" />
				<xs:element name="RHIC_AMOUNT" type="xs:decimal" />
				<xs:element name="TFFR_SERVICE" type="xs:decimal" />
				<xs:element name="TIAA_CREF_SERVICE" type="xs:decimal" />
				<xs:element name="JOBSERVICE_SICK_LEAVE" type="xs:decimal" />
				<xs:element name="MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="TIER1" type="xs:decimal" />
				<xs:element name="TIER2" type="xs:decimal" />
				<xs:element name="TIER3" type="xs:decimal" />
				<xs:element name="IS_DB_PLAN" type="xs:string" />
				<xs:element name="IS_DC_PLAN" type="xs:string" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable28">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_CALCULATION_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="AGE_DESCRIPTION" type="xs:string" />
				<xs:element name="MONTHLY_BENEFIT" type="xs:decimal" />
				<xs:element name="RHIC_BENEFIT" type="xs:decimal" />
				<xs:element name="IS_NRD_DATE" type="xs:dateTime" />
				<xs:element name="MEMBER_ACCOUNT_BALANCE" type="xs:decimal" />
				<xs:element name="QDRO_DEDUCTIONS" type="xs:decimal" />
        <xs:element name="TFFRExist" type="xs:string" />
        <xs:element name="DROExists" type="xs:string" />
				<xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
				<xs:element name="FINAL_AVERAGE_SALARY" type="xs:decimal" />
				<xs:element name="DISABILITY_BENEFIT_PERCENTAGE" type="xs:decimal" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />							
				<xs:element name="TERMINATION_DATE" type="xs:dateTime" />
        <xs:element name="RETIREMENT_DATE" type="xs:dateTime" />
        <xs:element name="PLAN_BENEFIT_TIER_DESCRIPTION" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
  <xs:element name="ReportTable29">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MAS_PERSON_CALCULATION_ID" type="xs:int" />
        <xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="PLAN_ID" type="xs:int" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="AGE_DESCRIPTION" type="xs:string" />
        <xs:element name="MONTHLY_BENEFIT" type="xs:decimal" />
        <xs:element name="RHIC_BENEFIT" type="xs:decimal" />
        <xs:element name="IS_NRD_DATE" type="xs:dateTime" />
        <xs:element name="MEMBER_ACCOUNT_BALANCE" type="xs:decimal" />
        <xs:element name="QDRO_DEDUCTIONS" type="xs:decimal" />
        <xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
        <xs:element name="FINAL_AVERAGE_SALARY" type="xs:decimal" />
        <xs:element name="DISABILITY_BENEFIT_PERCENTAGE" type="xs:decimal" />
        <xs:element name="MAB_AS_ON_EFFECTIVE_DATE" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable30">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MAS_PERSON_CALCULATION_ID" type="xs:int" />
        <xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="PLAN_ID" type="xs:int" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="AGE_DESCRIPTION" type="xs:string" />
        <xs:element name="MONTHLY_BENEFIT" type="xs:decimal" />
        <xs:element name="RHIC_BENEFIT" type="xs:decimal" />
        <xs:element name="IS_NRD_DATE" type="xs:dateTime" />
        <xs:element name="MEMBER_ACCOUNT_BALANCE" type="xs:decimal" />
        <xs:element name="QDRO_DEDUCTIONS" type="xs:decimal" />
        <xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
        <xs:element name="FINAL_AVERAGE_SALARY" type="xs:decimal" />
        <xs:element name="DISABILITY_BENEFIT_PERCENTAGE" type="xs:decimal" />
        <xs:element name="MAB_AS_ON_EFFECTIVE_DATE" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable31">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MAS_PERSON_CALCULATION_ID" type="xs:int" />
        <xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="PLAN_ID" type="xs:int" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="AGE_DESCRIPTION" type="xs:string" />
        <xs:element name="MONTHLY_BENEFIT" type="xs:decimal" />
        <xs:element name="RHIC_BENEFIT" type="xs:decimal" />
        <xs:element name="IS_NRD_DATE" type="xs:dateTime" />
        <xs:element name="MEMBER_ACCOUNT_BALANCE" type="xs:decimal" />
        <xs:element name="QDRO_DEDUCTIONS" type="xs:decimal" />
        <xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
        <xs:element name="FINAL_AVERAGE_SALARY" type="xs:decimal" />
        <xs:element name="DISABILITY_BENEFIT_PERCENTAGE" type="xs:decimal" />
        <xs:element name="CREATED_BY" type="xs:string" />
        <xs:element name="CREATED_DATE" type="xs:dateTime" />
        <xs:element name="MODIFIED_BY" type="xs:string" />
        <xs:element name="MODIFIED_DATE" type="xs:dateTime" />
        <xs:element name="UPDATE_SEQ" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable32">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLAN_NAME" type="xs:string" />                
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable33">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IS_FLEX_ENROLLED" type="xs:string" />
        <xs:element name="TOTAL_ANNUAL_PLEDGE_AMOUNT" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
