Files/Reports/XSD Definition/rptPayrollReportSplitFromCentralPayroll.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptPayrollReportSplitFromCentralPayroll" targetNamespace="http://tempuri.org/rptPayrollReportSplitFromCentralPayroll.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptPayrollReportSplitFromCentralPayroll.xsd" xmlns:mstns="http://tempuri.org/rptPayrollReportSplitFromCentralPayroll.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="Document">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ReportTable01">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OrgCode" type="xs:string" minOccurs="0" />
							<xs:element name="OrgName" type="xs:string" minOccurs="0" />
							<xs:element name="PayrollHeaderID" type="xs:int" />
							<xs:element name="BenefitType" type="xs:string" />
							<xs:element name="TotalRecordCount" type="xs:int" />
							<xs:element name="TotalAmount" type="xs:decimal" />
							<xs:element name="CentralPayrollRecordID" type="xs:int" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>