Files/Reports/XSD Definition/rptPayeeReceivableSummary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="PayeeReceivableSummary"
    targetNamespace="http://tempuri.org/PayeeReceivableSummary.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/PayeeReceivableSummary.xsd"
    xmlns:mstns="http://tempuri.org/PayeeReceivableSummary.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="INDICATOR" type="xs:string" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="LAST_NAME" type="xs:string" />
        <xs:element name="FIRST_NAME" type="xs:string" />
        <xs:element name="RECV_AMOUNT" type="xs:decimal" />
        <xs:element name="PAID_AMOUNT" type="xs:decimal" />
        <xs:element name="PAYMENT_OPTION" type="xs:string" />
        <xs:element name="REPAYMENT_TYPE" type="xs:string" />
        <xs:element name="STATUS_DESCR" type="xs:string" />
        <xs:element name="ESTIMATED_END_DATE" type="xs:date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
