Files/Reports/XSD Definition/rptProcessDelinquentPaymentLetter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptProcessDelinquentPaymentLetter" targetNamespace="http://tempuri.org/rptProcessDelinquentPaymentLetter.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptProcessDelinquentPaymentLetter.xsd" xmlns:mstns="http://tempuri.org/rptProcessDelinquentPaymentLetter.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="Document">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ReportTable01">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PERSLinkID" type="xs:int" />
							<xs:element name="FullName" type="xs:string" />
							<xs:element name="PurchaseID" type="xs:int" />
							<xs:element name="LastPaymentReceivedDate" type="xs:date" />
							<xs:element name="BalanceDue" type="xs:decimal" />
							<xs:element name="PSCForClosedAccounts" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>