Files/Reports/XSD Definition/rptPayeeListingReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptVendorPaymentDetailReport"
    targetNamespace="http://tempuri.org/rptPayeeListingReport.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptPayeeListingReport.xsd"
    xmlns:mstns="http://tempuri.org/rptPayeeListingReport.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ReportTable01">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="STATUS_EFFECTIVE_DATE" type="xs:date" />
              <xs:element name="PAYMENT_DATE" type="xs:date" />
							<xs:element name="PERSON_ID" type="xs:int" />
							<xs:element name="ORG_CODE" type="xs:string" />
              <xs:element name="RECIPIENT_NAME" type="xs:string" />
              <xs:element name="PAYMENT_METHOD" type="xs:string" />
              <xs:element name="CHECK_NUMBER" type="xs:int" />
              <xs:element name="PAYMENT_HISTORY_ID" type="xs:int" />
              <xs:element name="DISTRIBUTION_ID" type="xs:int" />
              <xs:element name="NET_AMOUNT" type="xs:decimal" />
              <xs:element name="PAYEE_ACCOUNT_ID" type="xs:int" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>		
	</xs:element>
</xs:schema>
