Files/Reports/XSD Definition/rptRetirementOptionSummary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptRetirementOptionSummary"
    targetNamespace="http://tempuri.org/rptRetirementOptionSummary.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptRetirementOptionSummary.xsd"
    xmlns:mstns="http://tempuri.org/rptRetirementOptionSummary.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="ACCT_RELATIONSHIP" type="xs:string" />
        <xs:element name="BENEFIT_TYPE" type="xs:string" />
        <xs:element name="BENEFIT_OPTION" type="xs:string" />
        <xs:element name="NUBER_OF_OPTION" type="xs:int" />
        <xs:element name="AMOUNT" type="xs:decimal" />        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
