Files/Reports/XSD Definition/rptRemittanceReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptRemittanceReport"
    targetNamespace="http://tempuri.org/rptRemittanceReport.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptRemittanceReport.xsd"
    xmlns:mstns="http://tempuri.org/rptRemittanceReport.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ReportTable01">
					<xs:complexType>
						<xs:sequence>
              <xs:element name="org_code" type="xs:string" />
              <xs:element name="org_name" type="xs:string" />
							<xs:element name="benefit_type" type="xs:string" />
							<xs:element name="plan" type="xs:string" />
							<xs:element name="type" type="xs:string" />
							<xs:element name="amount" type="xs:decimal" />
              <xs:element name="employer_payroll_header_id" type="xs:int" />
              <xs:element name="payroll_paid_month" type="xs:string" />
              <xs:element name="report_type" type="xs:string" />
              <xs:element name="addr_description" type="xs:string" />
              <xs:element name="addr_org_name" type="xs:string" />
              <xs:element name="addr_line1" type="xs:string" />
              <xs:element name="member_interest" type="xs:decimal" />
							<xs:element name="employer_interest" type="xs:decimal" />
              <xs:element name="rhic_interest" type="xs:decimal" />
              <xs:element name="remittance_payment_applied" type="xs:decimal" />
              <xs:element name="count_of_details_for_report_id_in_posted" type="xs:int" />
              <xs:element name="count_of_details_for_report_id_in_valid" type="xs:int" />
              <xs:element name="credit_payment_applied" type="xs:decimal" />
            </xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>		
	</xs:element>
</xs:schema>
