Files/Reports/XSD Definition/rptRetireeHealthCredit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptRetireeHealthCredit" targetNamespace="http://tempuri.org/rptRetireeHealthCredit.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptRetireeHealthCredit.xsd" xmlns:mstns="http://tempuri.org/rptRetireeHealthCredit.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ReportTable01">
		<xs:complexType>
			<xs:sequence>
				<xs:any />
				<xs:element name="Person_ID" type="xs:int" />
				<xs:element name="First_Name" type="xs:string" />
				<xs:element name="Last_Name" type="xs:string" />
				<xs:element name="RHIC_Amount" type="xs:decimal" />
        <xs:element name="APPLIEDRHICAmount" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>