Files/Reports/XSD Definition/rptTFFRTransferSalaryHistory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptTFFRTransferSalaryHistory" targetNamespace="http://tempuri.org/rptTFFRTransferSalaryHistory.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptTFFRTransferSalaryHistory.xsd" xmlns:mstns="http://tempuri.org/rptTFFRTransferSalaryHistory.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ReportTable01">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:int" name="PERSLinkID" />
				<xs:element name="SSN" type="xs:string" />
				<xs:element name="LastName" type="xs:string" />
				<xs:element name="FirstName" type="xs:string" />
				<xs:element name="EEPreTaxAmount" type="xs:decimal" />
				<xs:element name="EEPostTaxAmount" type="xs:decimal" />
				<xs:element name="EEEmpPickupAmount" type="xs:decimal" />
				<xs:element name="EEInterestAmount" type="xs:decimal" />
				<xs:element name="ERPreTaxAmount" type="xs:decimal" />
				<xs:element name="ERInterestAmount" type="xs:decimal" />
				<xs:element name="TotalTransferAmount" type="xs:decimal" />
				<xs:element name="PSC" type="xs:decimal" />
				<xs:element name="PlanParticipationStartDate" type="xs:date" />
				<xs:element name="CurrentFAS" type="xs:decimal" />
				<xs:element name="NumberofMissedMonths" type="xs:int" />
				<xs:element name="EmploymentStartDate" type="xs:date" />
				<xs:element name="EmploymentEndDate" type="xs:date" />
				<xs:element name="OrgCodeID_OrgName" type="xs:string" />				
        <xs:element name="Indicator" type="xs:string" />
      </xs:sequence>
		</xs:complexType>
	</xs:element>
  <xs:element name="ReportTable02">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="PERSLinkID" />
        <xs:element name="LastName" type="xs:string" />
        <xs:element name="FirstName" type="xs:string" />
        <xs:element name="EffectiveDate" type="xs:date" />
        <xs:element name="SalaryAmount" type="xs:decimal" />        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>