Files/Reports/XSD Definition/rptWireTransferSchedule.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptWireTransferSchedule"
    targetNamespace="http://tempuri.org/rptWireTransferSchedule.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptWireTransferSchedule.xsd"
    xmlns:mstns="http://tempuri.org/rptWireTransferSchedule.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ORG_NAME" type="xs:string" />
        <xs:element name="WIRE_TRANSFER_REPEAT_CODE" type="xs:string" />
        <xs:element name="PAYMENT_DATE" type="xs:date" />
        <xs:element name="NET_AMOUNT" type="xs:decimal" />        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
