Systest/Systest/Files/Reports/XSD Definition/rptACHRegister.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptACHRegister"
    targetNamespace="http://tempuri.org/rptACHRegister.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptACHRegister.xsd"
    xmlns:mstns="http://tempuri.org/rptACHRegister.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="FIRST_NAME" type="xs:string" />
        <xs:element name="LAST_ORG_NAME" type="xs:string" />
        <xs:element name="ACCOUNT_TYPE_DESC" type="xs:string" />
        <xs:element name="OPTION_DESCR" type="xs:string" />
        <xs:element name="PERSON_ORG_ID" type="xs:string" />
        <xs:element name="CHLD" type="xs:decimal" />
        <xs:element name="DNTL" type="xs:decimal" />
        <xs:element name="DUES" type="xs:decimal" />
        <xs:element name="FDTX" type="xs:decimal" />
        <xs:element name="GROS" type="xs:decimal" />
        <xs:element name="HLTH" type="xs:decimal" />
        <xs:element name="LAVY" type="xs:decimal" />
        <xs:element name="LIFE" type="xs:decimal" />
        <xs:element name="LTCI" type="xs:decimal" />
        <xs:element name="MCPD" type="xs:decimal" />
        <xs:element name="RECV" type="xs:decimal" />
        <xs:element name="RHIC" type="xs:decimal" />
        <xs:element name="STTX" type="xs:decimal" />
        <xs:element name="THRD" type="xs:decimal" />
        <xs:element name="VISN" type="xs:decimal" />
        <xs:element name="BLNK" type="xs:decimal" />
        <xs:element name="CONTROL_NUMBER1" type="xs:int" />
        <xs:element name="BANK_NAME1" type="xs:string" />
        <xs:element name="ACCOUNT_TYPE_VALUE1" type="xs:string" />
        <xs:element name="ROUTING_NO1" type="xs:string" />
        <xs:element name="ACCOUNT_NUMBER1" type="xs:string" />
        <xs:element name="NET_AMOUNT1" type="xs:decimal" />
        <xs:element name="CONTROL_NUMBER2" type="xs:int" />
        <xs:element name="BANK_NAME2" type="xs:string" />
        <xs:element name="ACCOUNT_TYPE_VALUE2" type="xs:string" />
        <xs:element name="ROUTING_NO2" type="xs:string" />
        <xs:element name="ACCOUNT_NUMBER2" type="xs:string" />
        <xs:element name="NET_AMOUNT2" type="xs:decimal" />
        <xs:element name="CHECK_NUMBER" type="xs:string" />
        <xs:element name="CONTROL_NUMBER" type="xs:int" />
        <xs:element name="INDICATOR" type="xs:string" />
	<xs:element name="NDPERS_BANK_ACCOUNT" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable02">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PAYEE_ACCOUNT_ID" type="xs:int" />
        <xs:element name="PERSON_ORG_ID" type="xs:int" />
        <xs:element name="PERSON_ORG_NAME" type="xs:string" />
        <xs:element name="CNT" type="xs:int" />     
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable03">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="CHLD" type="xs:int" />
        <xs:element name="DNTL" type="xs:int" />
        <xs:element name="DUES" type="xs:int" />
        <xs:element name="FDTX" type="xs:int" />
        <xs:element name="GROS" type="xs:int" />
        <xs:element name="HLTH" type="xs:int" />
        <xs:element name="LAVY" type="xs:int" />
        <xs:element name="LIFE" type="xs:int" />
        <xs:element name="LTCI" type="xs:int" />
        <xs:element name="MCPD" type="xs:int" />
        <xs:element name="RECV" type="xs:int" />
        <xs:element name="RHIC" type="xs:int" />
        <xs:element name="STTX" type="xs:int" />
        <xs:element name="THRD" type="xs:int" />
        <xs:element name="VISN" type="xs:int" />
        <xs:element name="BLNK" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
