Systest/Systest/Files/Reports/XSD Definition/rptActuaryRHICFileReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptActuaryRHICFileReport"
    targetNamespace="http://tempuri.org/rptActuaryRHICFileReport.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptActuaryRHICFileReport.xsd"
    xmlns:mstns="http://tempuri.org/rptActuaryRHICFileReport.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="ReportTable01">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ssn" type="xs:string" />
              <xs:element name="plan_id" type="xs:int" />
              <xs:element name="person_id" type="xs:int" />
              <xs:element name="account_relation_value" type="xs:string" />
              <xs:element name="last_name" type="xs:string" />
              <xs:element name="first_name" type="xs:string" />
              <xs:element name="pension_service_credit" type="xs:string" />
              <xs:element name="total_vested_service_credit" type="xs:string" />
              <xs:element name="applied_ghdv_rhic_amount" type="xs:string" />
              <xs:element name="coverage_code" type="xs:string" />
              <xs:element name="rhic_option_value" type="xs:string" />            
              <xs:element name="payee_status_value" type="xs:string" />
              <xs:element name="marital_status_value" type="xs:string" />
              <xs:element name="benefit_option_value" type="xs:string" />
              <xs:element name="Gender" type="xs:string" />
              <xs:element name="date_of_birth" type="xs:date" />
              <xs:element name="rhic_benefit_begin_date" type="xs:date" />
              <xs:element name="joint_annuitant_dob" type="xs:date" />
              <xs:element name="plan_participation_start_date" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
