Systest/Systest/Files/Reports/XSD Definition/rptActuaryPensionPlanFileReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptActuaryPensionPlanFileReport"
    targetNamespace="http://tempuri.org/rptActuaryPensionPlanFileReport.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptActuaryPensionPlanFileReport.xsd"
    xmlns:mstns="http://tempuri.org/rptActuaryPensionPlanFileReport.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="ReportTable01">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ssn" type="xs:string" />
              <xs:element name="Planid" type="xs:string" />
              <xs:element name="person_id" type="xs:int" />
              <xs:element name="account_relation_value" type="xs:string" />
              <xs:element name="last_name" type="xs:string" />
              <xs:element name="first_name" type="xs:string" />
              <xs:element name="plan_participation_status_value" type="xs:string" />
              <xs:element name="plan_participation_value_formatted" type="xs:string" />
              <xs:element name="application_status_value" type="xs:string" />
              <xs:element name="employment_status_value" type="xs:string" />
              <xs:element name="employment_type_value" type="xs:string" />
              <xs:element name="payee_status_value" type="xs:string" />
              <xs:element name="Hourly" type="xs:string" />
              <xs:element name="benefit_option_value" type="xs:string" />
              <xs:element name="Seasonal" type="xs:string" />
              <xs:element name="marital_status_value" type="xs:string" />
              <xs:element name="date_of_birth" type="xs:date" />
              <xs:element name="plan_participation_start_date" type="xs:date" />             
              <xs:element name="pension_service_credit" type="xs:decimal" />
              <xs:element name="total_vested_service_credit" type="xs:decimal" />
              <xs:element name="spouse_dob" type="xs:date" />
              <xs:element name="joint_annuitant_dob" type="xs:date" />
              <xs:element name="retirement_date" type="xs:date" />
              <xs:element name="MemberGenderCode" type="xs:string" />
              <xs:element name="SpouseGenderCode" type="xs:string" />
              <xs:element name="org_code" type="xs:string" />
              <xs:element name="total_salary" type="xs:decimal" />
              <xs:element name="account_balance" type="xs:decimal" />
              <xs:element name="total_vested_service_credit_ba" type="xs:decimal" />
              <xs:element name="pension_service_credit_ba" type="xs:decimal" />
              <xs:element name="accrued_benefit_calculation" type="xs:decimal" />
              <xs:element name="gross_current_monthly_benefit_amount" type="xs:decimal" />
              <xs:element name="purchased_service_credit_sum" type="xs:decimal" />
              <xs:element name="ssli_or_uniform_income_commencement_age" type="xs:int" />
              <xs:element name="estimated_ssli_benefit_amount" type="xs:decimal" />
              <xs:element name="ssli_change_date" type="xs:date" />
              <xs:element name="travellers_base_benefit_amount" type="xs:decimal" />
              <xs:element name="travellers_cumulative_cola_amount" type="xs:decimal" />
              <xs:element name="minimum_guarantee_amount" type="xs:decimal" />
              <xs:element name="amount_paid_ltd" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
