Systest/Systest/Files/Reports/XSD Definition/rptBenefitEnrollment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptBenefitEnrollment"
    targetNamespace="http://tempuri.org/rptBenefitEnrollment.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptBenefitEnrollment.xsd"
    xmlns:mstns="http://tempuri.org/rptBenefitEnrollment.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PERSON_NAME" type="xs:string" />
        <xs:element name="SSN" type="xs:string" />
        <xs:element name="PEOPLESOFT_ID" type="xs:string" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="PLAN_PARTICIPATION_STATUS" type="xs:string" />
        <xs:element name="START_DATE" type="xs:dateTime" />
        <xs:element name="END_DATE" type="xs:dateTime" />
        <xs:element name="PAY_PERIOD_AMOUNT" type="xs:decimal" />
        <xs:element name="PROVIDER" type="xs:string" />
        <xs:element name="PLAN_OPTION" type="xs:string" />
        <xs:element name="LEVEL_OF_COVERAGE" type="xs:string" />
        <xs:element name="COVERAGE_AMOUNT" type="xs:decimal" />
        <xs:element name="PREMIUM_CONVERSION" type="xs:string" />
        <xs:element name="PREMIUM_AMOUNT" type="xs:decimal" />
        <xs:element name="CHANGE_REASON" type="xs:string" />
        <xs:element name="TYPE_VALUE" type="xs:string" />
      </xs:sequence >      
    </xs:complexType >
  </xs:element >
</xs:schema>
