Systest/Systest/Files/Reports/XSD Definition/rptCentralPayrollNegativeDeposits.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptCentralPayrollNegativeDeposits" targetNamespace="http://tempuri.org/rptCentralPayrollNegativeDeposits.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptCentralPayrollNegativeDeposits.xsd" xmlns:mstns="http://tempuri.org/rptCentralPayrollNegativeDeposits.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="ReportTable01">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ORG_CODE" type="xs:string" />
				<xs:element name="ORG_NAME" type="xs:string" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="Amount" type="xs:decimal" />							
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>