Systest/Systest/Files/Reports/XSD Definition/rptCAFR.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptCAFR"
    targetNamespace="http://tempuri.org/rptCAFR.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptCAFR.xsd"
    xmlns:mstns="http://tempuri.org/rptCAFR.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="MEM_COUNT" type="xs:int" />
        <xs:element name="RET_COUNT" type="xs:int" />       
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable02">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DESCR" type="xs:string" />
        <xs:element name="NUM_ORG" type="xs:int" />       
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable03">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="MEM_COUNT" type="xs:int" />
        <xs:element name="RET_COUNT" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable04">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLAN_ID" type="xs:int" />
        <xs:element name="COUNT_CONTR" type="xs:int" />
        <xs:element name="COUNT_RHIC" type="xs:int" />
        <xs:element name="COUNT_NONMED" type="xs:int" />
        <xs:element name="COUNT_AVAILABLE_RHIC" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable05">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="COUNT_MEM" type="xs:int" />
        <xs:element name="COUNT_RET" type="xs:int" />
        <xs:element name="COUNT_COV" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable06">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DESCR" type="xs:string" />
        <xs:element name="NUM_ORG" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable07">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="COUNT_MEM" type="xs:int" />
        <xs:element name="COUNT_RET" type="xs:int" />
        <xs:element name="COUNT_COV" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable08">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DESCR" type="xs:string" />
        <xs:element name="NUM_ORG" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable09">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="COUNT_MEM" type="xs:int" />
        <xs:element name="COUNT_RET" type="xs:int" />
        <xs:element name="COUNT_COV" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable10">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DESCR" type="xs:string" />
        <xs:element name="NUM_ORG" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable11">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="COUNT_MEM_BL" type="xs:int" />
        <xs:element name="COUNT_RET_BL" type="xs:int" />
        <xs:element name="COUNT_MEM_SUPP" type="xs:int" />
        <xs:element name="COUNT_RET_SUPP" type="xs:int" />
        <xs:element name="COUNT_MEM_DEP" type="xs:int" />
        <xs:element name="COUNT_RET_DEP" type="xs:int" />
        <xs:element name="COUNT_MEM_SPSUPP" type="xs:int" />
        <xs:element name="COUNT_RET_SPSUPP" type="xs:int" />        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable12">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DESCRIPTION" type="xs:string" />
        <xs:element name="SUM_COVERAGE_AMT" type="xs:decimal" />        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable13">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DESCR" type="xs:string" />
        <xs:element name="NUM_ORG" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable14">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="COUNT_MEM" type="xs:int" />
        <xs:element name="COUNT_RET" type="xs:int" />
        <xs:element name="COUNT_COV" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable15">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="COUNT_MEM_MSP" type="xs:int" />
        <xs:element name="SUM_APM_MEM_MSP" type="xs:decimal" />
        <xs:element name="COUNT_MEM_DSP" type="xs:int" />
        <xs:element name="SUM_APM_MEM_DSP" type="xs:decimal" />
        <xs:element name="COUNT_PRETAXED_DENTAL" type="xs:int" />
		<xs:element name="COUNT_PRETAXED_VISION" type="xs:int" />
		<xs:element name="COUNT_PRETAXED_LIFE" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable16">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DESCR" type="xs:string" />
        <xs:element name="COUNT_PER" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable17">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="EMP_TYPE" type="xs:string" />
        <xs:element name="COUNT_MEM" type="xs:int" />
        <xs:element name="COUNT_RET" type="xs:int" />        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable18">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="ANN_RETR" type="xs:decimal" />
        <xs:element name="ANN_DISA" type="xs:decimal" />
        <xs:element name="ANN_SURBEN" type="xs:decimal" />
        <xs:element name="REF_DETH" type="xs:decimal" />
        <xs:element name="REF_SEPSER" type="xs:decimal" />
        <xs:element name="TRANS_DC" type="xs:decimal" />
        <xs:element name="TRANS_TIAA" type="xs:decimal" />
        <xs:element name="TRANS_TFFR" type="xs:decimal" />
        <xs:element name="TOTAL_PER_PLAN" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable19">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ORG_NAME" type="xs:string" />
        <xs:element name="PLAN_NAME" type="xs:string" />       
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable20">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ORG_CODE" type="xs:string" />
        <xs:element name="ORG_NAME" type="xs:string" />
        <xs:element name="COUNT_PER" type="xs:int" />
        <xs:element name="RANK_NUM" type="xs:int" />
        <xs:element name="PERCENT_EMP" type="xs:decimal" />        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable21">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="COUNT_PER" type="xs:int" />
        <xs:element name="PERCENT_EMP" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable22">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SNO" type="xs:int" />
        <xs:element name="REPORT_NAME" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable23">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="EMP_CATEGORY" type="xs:string" />
        <xs:element name="NUM_ORG" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
