Systest/Systest/Files/Reports/XSD Definition/rptCheckFile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptCheckFile"
    targetNamespace="http://tempuri.org/rptCheckFile.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptCheckFile.xsd"
    xmlns:mstns="http://tempuri.org/rptCheckFile.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CHECK_NUMBER" type="xs:int" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="BENEFIT_TYPE" type="xs:string" />
        <xs:element name="BENEFIT_OPTION" type="xs:string" />
        <xs:element name="PAYMENT_HISTORY_DISTRIBUTION_ID" type="xs:int" />
        <xs:element name="PAYMENT_DATE" type="xs:dateTime" />
        <xs:element name="FED_TAX_OPTION_DESCRIPTION" type="xs:string" />
        <xs:element name="FED_MARITAL_STATUS_DESCRIPTION" type="xs:string" />
	<xs:element name="FED_TAX_ALLOWANCE" type="xs:int" />
	<xs:element name="FED_ADDITIONAL_TAX_AMOUNT" type="xs:decimal" />
        <xs:element name="STATE_TAX_OPTION_DESCRIPTION" type="xs:string" />
        <xs:element name="STATE_MARITAL_STATUS_DESCRIPTION" type="xs:string" />
	<xs:element name="STATE_TAX_ALLOWANCE" type="xs:int" />
	<xs:element name="STATE_ADDITIONAL_TAX_AMOUNT" type="xs:decimal" />
	<xs:element name="NET_AMOUNT" type="xs:decimal" />
	<xs:element name="NET_AMT_IN_WORDS" type="xs:string" />
        <xs:element name="PERSONNAME" type="xs:string" />
        <xs:element name="ADDR_LINE_1" type="xs:string" />
	<xs:element name="ADDR_LINE_2" type="xs:string" />
        <xs:element name="ADDR_CITY" type="xs:string" />
	<xs:element name="ADDR_STATE_VALUE" type="xs:string" />
	<xs:element name="ADDR_ZIP_CODE" type="xs:string" />
	<xs:element name="FBO_CO" type="xs:string" />
	<xs:element name="ADDR_COUNTRY_VALUE" type="xs:string" />
	<xs:element name="FOREIGN_PROVINCE" type="xs:string" />
	<xs:element name="FOREIGN_POSTAL_CODE" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable02">
    <xs:complexType>
      <xs:sequence>
	<xs:element name="TOTAL_RHIC_AMOUNT" type="xs:decimal" />
	<xs:element name="GROUP_HEALTH_PREMIUM" type="xs:decimal" />
	<xs:element name="MEDICARE_PREMIUM" type="xs:decimal" />
	<xs:element name="RHIC_APPLIED" type="xs:decimal" />
	<xs:element name="NET_PREMIUM" type="xs:decimal" />
	<xs:element name="NET_AMT_IN_WORDS" type="xs:string" />
	<xs:element name="NET_AMT_PADDED" type="xs:string" />
	<xs:element name="CHECK_BOTTOM" type="xs:string" />
        <xs:element name="TYPE1" type="xs:string" />
        <xs:element name="CURRENT1" type="xs:decimal" />
        <xs:element name="YTD1" type="xs:decimal" />
        <xs:element name="TYPE2" type="xs:string" />
        <xs:element name="CURRENT2" type="xs:decimal" />
        <xs:element name="YTD2" type="xs:decimal" />
        <xs:element name="TYPE3" type="xs:string" />
        <xs:element name="CURRENT3" type="xs:decimal" />
        <xs:element name="YTD3" type="xs:decimal" />
        <xs:element name="TYPE4" type="xs:string" />
        <xs:element name="CURRENT4" type="xs:decimal" />
        <xs:element name="YTD4" type="xs:decimal" />
        <xs:element name="TYPE5" type="xs:string" />
        <xs:element name="CURRENT5" type="xs:decimal" />
        <xs:element name="YTD5" type="xs:decimal" />
        <xs:element name="TYPE6" type="xs:string" />
        <xs:element name="CURRENT6" type="xs:decimal" />
        <xs:element name="YTD6" type="xs:decimal" />
        <xs:element name="TYPE7" type="xs:string" />
        <xs:element name="CURRENT7" type="xs:decimal" />
        <xs:element name="YTD7" type="xs:decimal" />
        <xs:element name="TYPE8" type="xs:string" />
        <xs:element name="CURRENT8" type="xs:decimal" />
        <xs:element name="YTD8" type="xs:decimal" />
        <xs:element name="TYPE9" type="xs:string" />
        <xs:element name="CURRENT9" type="xs:decimal" />
        <xs:element name="YTD9" type="xs:decimal" />
        <xs:element name="TYPE10" type="xs:string" />
        <xs:element name="CURRENT10" type="xs:decimal" />
        <xs:element name="YTD10" type="xs:decimal" />
        <xs:element name="DED_TYPE1" type="xs:string" />
        <xs:element name="DED_CURRENT1" type="xs:decimal" />
        <xs:element name="DED_YTD1" type="xs:decimal" />
        <xs:element name="DED_TYPE2" type="xs:string" />
        <xs:element name="DED_CURRENT2" type="xs:decimal" />
        <xs:element name="DED_YTD2" type="xs:decimal" />
        <xs:element name="DED_TYPE3" type="xs:string" />
        <xs:element name="DED_CURRENT3" type="xs:decimal" />
        <xs:element name="DED_YTD3" type="xs:decimal" />
        <xs:element name="DED_TYPE4" type="xs:string" />
        <xs:element name="DED_CURRENT4" type="xs:decimal" />
        <xs:element name="DED_YTD4" type="xs:decimal" />
        <xs:element name="DED_TYPE5" type="xs:string" />
        <xs:element name="DED_CURRENT5" type="xs:decimal" />
        <xs:element name="DED_YTD5" type="xs:decimal" />
        <xs:element name="DED_TYPE6" type="xs:string" />
        <xs:element name="DED_CURRENT6" type="xs:decimal" />
        <xs:element name="DED_YTD6" type="xs:decimal" />
        <xs:element name="DED_TYPE7" type="xs:string" />
        <xs:element name="DED_CURRENT7" type="xs:decimal" />
        <xs:element name="DED_YTD7" type="xs:decimal" />
        <xs:element name="DED_TYPE8" type="xs:string" />
        <xs:element name="DED_CURRENT8" type="xs:decimal" />
        <xs:element name="DED_YTD8" type="xs:decimal" />
        <xs:element name="DED_TYPE9" type="xs:string" />
        <xs:element name="DED_CURRENT9" type="xs:decimal" />
        <xs:element name="DED_YTD9" type="xs:decimal" />
        <xs:element name="DED_TYPE10" type="xs:string" />
        <xs:element name="DED_CURRENT10" type="xs:decimal" />
        <xs:element name="DED_YTD10" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>