Systest/Systest/Files/Reports/XSD Definition/rptDuesWithholding.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptDuesWithholding"
    targetNamespace="http://tempuri.org/rptDuesWithholding.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptDuesWithholding.xsd"
    xmlns:mstns="http://tempuri.org/rptDuesWithholding.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ORGANIZATION_NAME" type="xs:string" />
        <xs:element name="LAST_NAME" type="xs:string" />
        <xs:element name="FIRST_NAME" type="xs:string" />
        <xs:element name="SSN" type="xs:string" />
        <xs:element name="DUES_AMOUNT" type="xs:decimal" />
        <xs:element name="PERSON_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
