Systest/Systest/Files/Reports/XSD Definition/rptEmpowerSpecialElectionTransferDetail.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptEmpowerSpecialElectionTransferDetail"
    targetNamespace="http://tempuri.org/rptEmpowerSpecialElectionTransferDetail.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptEmpowerSpecialElectionTransferDetail.xsd"
    xmlns:mstns="http://tempuri.org/rptEmpowerSpecialElectionTransferDetail.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="MEMBER_NAME" type="xs:string" />
        <xs:element name="SSN" type="xs:string" />
		<xs:element name="BEF1" type="xs:decimal" />	
		<xs:element name="AFT1" type="xs:decimal" />		
		<xs:element name="ERB1" type="xs:decimal" />		
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>



