Systest/Systest/Files/Reports/XSD Definition/rptForm1099R.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptForm1099R"
    targetNamespace="http://tempuri.org/rptForm1099R.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptForm1099R.xsd"
    xmlns:mstns="http://tempuri.org/rptForm1099R.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ADDR_CITY" type="xs:string" />
        <xs:element name="ADDR_COUNTRY_ID" type="xs:int" />
        <xs:element name="ADDR_COUNTRY_VALUE" type="xs:string" />
        <xs:element name="ADDR_LINE_1" type="xs:string" />
        <xs:element name="ADDR_LINE_2" type="xs:string" />
        <xs:element name="ADDR_LINE_3" type="xs:string" />
        <xs:element name="addr_state" type="xs:string" />
        <xs:element name="ADDR_STATE_ID" type="xs:int" />
        <xs:element name="ADDR_STATE_VALUE" type="xs:string" />
        <xs:element name="ADDR_ZIP_4_CODE" type="xs:string" />
        <xs:element name="ADDR_ZIP_CODE" type="xs:string" />
        <xs:element name="AGE59_SPLIT_FLAG" type="xs:string" />
        <xs:element name="CAPITAL_GAIN" type="xs:decimal" />
        <xs:element name="COMMENTS" type="xs:string" />
        <xs:element name="CORRECTED_FLAG" type="xs:string" />
        <xs:element name="CREATED_BY" type="xs:string" />
        <xs:element name="CREATED_DATE" type="xs:date" />
        <xs:element name="DIST_PERCENTAGE" type="xs:decimal" />
        <xs:element name="DISTRIBUTION_CODE" type="xs:string" />
        <xs:element name="EMPLOYEE_CONTRIBUTION_AMT" type="xs:decimal" />
        <xs:element name="FED_TAX_AMOUNT" type="xs:decimal" />
        <xs:element name="FEDERAL_ID" type="xs:int" />
        <xs:element name="FEDERAL_TAX" type="xs:decimal" />
        <xs:element name="FOREIGN_POSTAL_CODE" type="xs:string" />
        <xs:element name="FOREIGN_PROVINCE" type="xs:string" />
        <xs:element name="GROSS_BENEFIT_AMOUNT" type="xs:decimal" />
        <xs:element name="GROSS_DIST_AMOUNT" type="xs:decimal" />
        <xs:element name="ID_SUFFIX" type="xs:string" />
        <xs:element name="LOCAL_DISTRIBUTION" type="xs:string" />
        <xs:element name="LOCAL_TAX" type="xs:int" />
        <xs:element name="LOCALITY" type="xs:string" />
        <xs:element name="MODIFIED_BY" type="xs:string" />
        <xs:element name="MODIFIED_DATE" type="xs:date" />
        <xs:element name="NAME" type="xs:string" />
        <xs:element name="NET_AMOUNT" type="xs:decimal" />
        <xs:element name="NON_TAXABLE_AMOUNT" type="xs:decimal" />
        <xs:element name="OLD_PAYMENT_1099R_ID" type="xs:int" />
        <xs:element name="ORG_ID" type="xs:int" />
        <xs:element name="OTHER_AMOUNTS" type="xs:decimal" />
        <xs:element name="OTHER_PERCENTAGE" type="xs:decimal" />
        <xs:element name="PAYEE_ACCOUNT_ID" type="xs:int" />
        <xs:element name="PAYEE_NAME" type="xs:string" />
        <xs:element name="PAYMENT_1099R_ID" type="xs:int" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="ROLLOVER_PAYMENT_FLAG" type="xs:string" />
        <xs:element name="RUN_YEAR" type="xs:int" />
        <xs:element name="SSN" type="xs:string" />
        <xs:element name="SSN_TIN" type="xs:string" />
        <xs:element name="STATE_DISTRIBUTION" type="xs:decimal" />
        <xs:element name="STATE_TAX" type="xs:decimal" />
        <xs:element name="STATE_TAX_AMOUNT" type="xs:decimal" />
        <xs:element name="TAX_YEAR" type="xs:int" />
        <xs:element name="TAXABLE_AMOUNT" type="xs:decimal" />
        <xs:element name="TAXABLE_AMT_NOT_DETERMINED_FLAG" type="xs:decimal" />
        <xs:element name="TOTAL_DIST_PERCENTAGE" type="xs:decimal" />
        <xs:element name="TOTAL_DISTRIBUTION_FLAG" type="xs:string" />
        <xs:element name="TOTAL_EMPLOYEE_CONTRIB_AMT" type="xs:decimal" />
        <xs:element name="UPDATE_SEQ" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
