Systest/Systest/Files/Reports/XSD Definition/rptGLReportForAudit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptGLReportForAudit"
    targetNamespace="http://tempuri.org/rptGLReportForAudit.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptGLReportForAudit.xsd"
    xmlns:mstns="http://tempuri.org/rptGLReportForAudit.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Dt" type="xs:dateTime" />
        <xs:element name="EXTRACT_DATE" type="xs:dateTime" />
        <xs:element name="FUND_VALUE" type="xs:string" />
        <xs:element name="GL_ACCOUNT_NUMBER" type="xs:string" />
        <xs:element name="ACCOUNT_NAME" type="xs:string" />
        <xs:element name="ORG_CODE" type="xs:string" />  
		    <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="Amount" type="xs:decimal" /> 		
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
