Systest/Systest/Files/Reports/XSD Definition/rptInsuranceReloadBatchReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/XMLSchema.xsd" xmlns:mstns="http://tempuri.org/XMLSchema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ReportTable01">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OrgCodeId" type="xs:string" />
        <xs:element name="OrgName" type="xs:string" />
				<xs:element name="PayrollPaidDate" type="xs:dateTime" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>