Systest/Systest/Files/Reports/XSD Definition/rptInterestUpdateSummary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptInterestUpdateSummary"
    targetNamespace="http://tempuri.org/rptInterestUpdateSummary.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptInterestUpdateSummary.xsd"
    xmlns:mstns="http://tempuri.org/rptInterestUpdateSummary.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>   
        <xs:element name="INTEREST" type="xs:decimal" />
        <xs:element name="PTTINTEREST" type="xs:decimal" />
        <xs:element name="CONTRIBUTING_MEMBERS" type="xs:decimal" />
        <xs:element name="DISABILIT_INTEREST" type="xs:decimal" />
        <xs:element name="DISABILITY_ANNUITANT_MEMBERS" type="xs:decimal" />
        <xs:element name="QDRO_INTEREST" type="xs:decimal" />
        <xs:element name="QDRO_BENEFICIARIES_MEMBER" type="xs:decimal" />
        <xs:element name="DEFINED_CONTRIBUTION_INTEREST" type="xs:decimal" />
        <xs:element name="DEFINED_CONTRIBUTION_MEMBERS" type="xs:decimal" />
        <xs:element name="TOTALINTEREST" type="xs:decimal" />
        <xs:element name="TOTALPTTINTEREST" type="xs:decimal" />
        <xs:element name="TOTALCONTRIBUTING_MEMBERS" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
