Systest/Systest/Files/Reports/XSD Definition/rptLineOfDutySurvivors.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptLineOfDutySurvivors"
    targetNamespace="http://tempuri.org/rptLineOfDutySurvivors.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptLineOfDutySurvivors.xsd"
    xmlns:mstns="http://tempuri.org/rptLineOfDutySurvivors.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PERSLink_ID" type="xs:int" /> 
        <xs:element name="Name" type="xs:string" />   
        <xs:element name="DOB" type="xs:dateTime" minOccurs="0" />
        <xs:element name="Age" type="xs:int" />		
		<xs:element name="Member_Perslink_ID" type="xs:int" />	
		<xs:element name="Relationship" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
