Systest/Systest/Files/Reports/XSD Definition/rptMedicareSplitErrorReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptMedicareSplitErrorReport"
    targetNamespace="http://tempuri.org/rptMedicareSplitErrorReport.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptMedicareSplitErrorReport.xsd"
    xmlns:mstns="http://tempuri.org/rptMedicareSplitErrorReport.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="MEMBER_NAME" type="xs:string" />
        <xs:element name="COVERAGE_CODE" type="xs:string" />
        <xs:element name="MEDICARE_SUM" type="xs:int" />
        <xs:element name="NON_MEDICARE_SUM" type="xs:int" />
        <xs:element name="MEDICARE_ENROLLEES" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
