Systest/Systest/Files/Reports/XSD Definition/rptMonthlyAnnuitant1099R.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptMonthlyAnnuitant1099R"
    targetNamespace="http://tempuri.org/rptMonthlyAnnuitant1099R.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptMonthlyAnnuitant1099R.xsd"
    xmlns:mstns="http://tempuri.org/rptMonthlyAnnuitant1099R.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ACCT_NUM" type="xs:string" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="PAYEE_NAME" type="xs:string" />
        <xs:element name="PAYEE_STATUS" type="xs:string" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="BENEFIT_OPTION" type="xs:string" />
        <xs:element name="DIST_CD" type="xs:string" />
        <xs:element name="PAID_YTD" type="xs:decimal" />
        <xs:element name="TAXABLE_YTD" type="xs:decimal" />
        <xs:element name="NON_TAXABLE_YTD" type="xs:decimal" />
        <xs:element name="FED_TAX_YTD" type="xs:decimal" />
        <xs:element name="STATE_TAX_YTD" type="xs:decimal" />      
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
