Systest/Systest/Files/Reports/XSD Definition/rptMemberPlanAccountDetails.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptMemberPlanAccountDetails"
    targetNamespace="http://tempuri.org/rptMemberPlanAccountDetails.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptMemberPlanAccountDetails.xsd"
    xmlns:mstns="http://tempuri.org/rptMemberPlanAccountDetails.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="PERSON_NAME" type="xs:string" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="PLAN_STATUS" type="xs:string" />
        <xs:element name="ORG_NAME" type="xs:string" />
        <xs:element name="MODIFIED_BY" type="xs:string" />       
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
