Systest/Systest/Files/Reports/XSD Definition/rptMonthlyPurchasedServiceCreditPosting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptMonthlyPurchasedServiceCreditPosting" targetNamespace="http://tempuri.org/rptMonthlyPurchasedServiceCreditPosting.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptMonthlyPurchasedServiceCreditPosting.xsd" xmlns:mstns="http://tempuri.org/rptMonthlyPurchasedServiceCreditPosting.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Service_Purchase_Header_ID" type="xs:int" />
        <xs:element name="PERSLink_ID" type="xs:int" />
        <xs:element name="FullName" type="xs:string" />
        <xs:element name="Beginning_Principal_Balance" type="xs:decimal" />
        <xs:element name="Payment_Amount" type="xs:decimal" />
        <xs:element name="Principal" type="xs:decimal" />
        <xs:element name="Ending_Principal_Balance" type="xs:decimal" />
        <xs:element name="ProratedVSC" type="xs:string" />
        <xs:element name="ProratedPSC" type="xs:string" />
        <xs:element name="Interest" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>