Systest/Systest/Files/Reports/XSD Definition/rptMinimumGuaranteeChangeSummary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptMinimumGuaranteeChangeSummary"
    targetNamespace="http://tempuri.org/rptMinimumGuaranteeChangeSummary.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptMinimumGuaranteeChangeSummary.xsd"
    xmlns:mstns="http://tempuri.org/rptMinimumGuaranteeChangeSummary.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="REPORT_ID" type="xs:int" />
        <xs:element name="REPORT_NAME" type="xs:string" />
        <xs:element name="MIN_GUARANTEE_AMOUNT" type="xs:decimal" />        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
