Systest/Systest/Files/Reports/XSD Definition/rptNonMonthlyPaymentDetail.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptNonMonthlyPaymentDetail"
    targetNamespace="http://tempuri.org/rptNonMonthlyPaymentDetail.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptNonMonthlyPaymentDetail.xsd"
    xmlns:mstns="http://tempuri.org/rptNonMonthlyPaymentDetail.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PERSLINK_ID" type="xs:string" />
        <xs:element name="LAST_NAME" type="xs:string" />
        <xs:element name="FIRST_NAME" type="xs:string" />
        <xs:element name="BENEFIT_TYPE" type="xs:string" />
        <xs:element name="BENEFIT_OPTION" type="xs:string" />
        <xs:element name="EXCESS_CONTRIBUTION_REFUND" type="xs:decimal" />
        <xs:element name="TAXABLE_EE_AMOUNT" type="xs:decimal" />
        <xs:element name="NONTAXABLE_EE_AMOUNT" type="xs:decimal" />
        <xs:element name="RHIC_EE_NON_TAXABLE_AMOUNT" type="xs:decimal" />
        <xs:element name="CAPITAL_GAIN" type="xs:decimal" />
        <xs:element name="VESTED_ER_AMOUNT" type="xs:decimal" />
        <xs:element name="EE_INTEREST_AMOUNT" type="xs:decimal" />
        <xs:element name="ER_INTEREST_AMOUNT" type="xs:decimal" />
        <xs:element name="FEDERAL_TAX_AMOUNT" type="xs:decimal" />
        <xs:element name="STATE_TAX_AMOUNT" type="xs:decimal" />
        <xs:element name="EE_ADDITIONAL_INTEREST_AMOUNT" type="xs:decimal" />
        <xs:element name="ER_PRETAX_AMOUNT" type="xs:decimal" />
        <xs:element name="ADDITIONAL_EE_AMOUNT" type="xs:decimal" />
        <xs:element name="ADDITIONAL_ER_AMOUNT" type="xs:decimal" />
        <xs:element name="TAXABLE_ROLLOVER_AMOUNT" type="xs:decimal" />
        <xs:element name="NONTAXABLE_ROLLOVER_AMOUNT" type="xs:decimal" />
        <xs:element name="NET_AMOUNT" type="xs:decimal" />
        <xs:element name="EE_ER_PICKUP_AMOUNT" type="xs:decimal" />
        <xs:element name="STATE_TAX_AMOUNT1" type="xs:decimal" />
        <xs:element name="TAXABLE_AMOUNT" type="xs:decimal" />
        <xs:element name="NON_TAXABLE_AMOUNT" type="xs:decimal" />
        <xs:element name="COLA" type="xs:decimal" />
        <xs:element name="TAXABLE_ADHOC_INCREASE_AMOUNT" type="xs:decimal" />
        <xs:element name="INTEREST" type="xs:decimal" />
        <xs:element name="FEDERAL_TAX_ON_INTEREST_AMOUNT" type="xs:decimal" />
        <xs:element name="THRD_PARTY_HEALTH_INSURANCE_REFUND" type="xs:decimal" />
        <xs:element name="CHILD_SUPPORT_REFUND" type="xs:decimal" />
        <xs:element name="DUES_REFUND" type="xs:decimal" />
        <xs:element name="FEDERAL_TAX_REFUND" type="xs:decimal" />
        <xs:element name="RETRO_PENSION_RECEIVABLE" type="xs:decimal" />
        <xs:element name="RHIC_BENEFIT_REIMBURSEMENT" type="xs:decimal" />
        <xs:element name="STATE_TAX_ON_INTEREST_AMOUNT" type="xs:decimal" />
        <xs:element name="STATE_TAX_REFUND" type="xs:decimal" />
        <xs:element name="TAX_LEVY_REFUND" type="xs:decimal" />
        <xs:element name="OTHER_DEDUCTIONS" type="xs:decimal" />
	<xs:element name="NDPERS_BANK_ACCOUNT" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
