Systest/Systest/Files/Reports/XSD Definition/rptOutstandingChecksReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptOutstandingChecksReport"
    targetNamespace="http://tempuri.org/rptOutstandingChecksReport.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptOutstandingChecksReport.xsd"
    xmlns:mstns="http://tempuri.org/rptOutstandingChecksReport.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="Document">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="ReportTable01">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="person_id" type="xs:int" />
              <xs:element name="org_id" type="xs:string" />
              <xs:element name="org_code" type="xs:string" />
              <xs:element name="personname" type="xs:string" />
              <xs:element name="check_number" type="xs:string" />
              <xs:element name="controlnumber" type="xs:int" />
              <xs:element name="status" type="xs:string" />
              <xs:element name="net_amount" type="xs:decimal" />
              <xs:element name="account_no" type="xs:decimal" />
	      <xs:element name="NDPERS_BANK_ACCOUNT" type="xs:int" />
              <xs:element name="Check_Date" type="xs:dateTime" />
              <xs:element name="Benefit_Type" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>

