Systest/Systest/Files/Reports/XSD Definition/rptOnlineRetireeStatement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptOnlineRetireeStatement"
    targetNamespace="http://tempuri.org/rptOnlineRetireeStatement.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptOnlineRetireeStatement.xsd"
    xmlns:mstns="http://tempuri.org/rptOnlineRetireeStatement.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable02">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="BENEFIT_OPTION" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable05">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MAS_PERSON_ID" type="xs:int" />
        <xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="MEMBER_PERSON_ID" type="xs:int" />
        <xs:element name="PLAN_ID" type="xs:int" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="OWNER_NAME" type="xs:string" />
        <xs:element name="PAYEE_NAME" type="xs:string" />
        <xs:element name="OWNER_FIRST_NAME" type="xs:string" />
        <xs:element name="ORG_NAME" type="xs:string" />
        <xs:element name="DATE_OF_BIRTH" type="xs:dateTime" />
        <xs:element name="GENDER_DESCRIPTION" type="xs:string" />
        <xs:element name="MARITAL_DESCRIPTION" type="xs:string" />
        <xs:element name="SPOUSE_FULL_NAME" type="xs:string" />
        <xs:element name="SPOUSE_DOB" type="xs:dateTime" />
        <xs:element name="SPOUSE_GENDER_DESCRIPTION" type="xs:string" />
        <xs:element name="PERSON_EMPL_DETAIL_ID" type="xs:int" />
        <xs:element name="SEASONAL_MONTHS_DESCRIPTION" type="xs:string" />
        <xs:element name="ADDR_LINE1" type="xs:string" />
        <xs:element name="ADDR_LINE2" type="xs:string" />
        <xs:element name="ADDR_CITY" type="xs:string" />
        <xs:element name="ADDR_STATE_DESCRIPTION" type="xs:string" />
        <xs:element name="ADDR_COUNTRY_ID" type="xs:int" />
        <xs:element name="ADDR_COUNTRY_VALUE" type="xs:string" />
        <xs:element name="ADDR_COUNTRY_DESCRIPTION" type="xs:string" />
        <xs:element name="ZIPCODE" type="xs:string" />
        <xs:element name="FOREIGN_PROVINCE" type="xs:string" />
        <xs:element name="FOREIGN_POSTAL_CODE" type="xs:string" />
        <xs:element name="ACCOUNT_RELATIONSHIP_VALUE" type="xs:string" />
        <xs:element name="ACCOUNT_RELATIONSHIP_DESCRIPTION" type="xs:string" />
        <xs:element name="FAMILY_RELATION_VALUE" type="xs:string" />       
        <xs:element name="BENEFIT_OPTION_VALUE" type="xs:string" />
        <xs:element name="BENEFIT_OPTION_DESCRIPTION" type="xs:string" />
        <xs:element name="BENEFIT_ACCOUNT_TYPE_VALUE" type="xs:string" />
        <xs:element name="BENEFIT_ACCOUNT_TYPE_DESCRIPTION" type="xs:string" />
        <xs:element name="IS_PLAN_DC" type="xs:string" />
        <xs:element name="IS_PLAN_DB" type="xs:string" />
        <xs:element name="IS_RHIC_APPLIED_HEALTH" type="xs:string" />
        <xs:element name="IS_COMBINING_RHIC" type="xs:string" />
        <xs:element name="IS_BENEFIT_TYPE_DISABILITY" type="xs:string" />
        <xs:element name="ACCOUNT_BALANCE" type="xs:decimal" />
        <xs:element name="MEMBER_RHIC_AMOUNT" type="xs:decimal" />
        <xs:element name="SPOUSE_RHIC_AMOUNT" type="xs:decimal" />
        <xs:element name="IS_PARTD_HEALTH_ENROLLED" type="xs:string" />
        <xs:element name="IS_RETIREE_HEALTH_ENROLLED" type="xs:string" />
        <xs:element name="IS_HEALTH_ENROLLED" type="xs:string" />
        <xs:element name="IS_LIFE_ENROLLED" type="xs:string" />
        <xs:element name="IS_DENTAL_ENROLLED" type="xs:string" />
        <xs:element name="IS_VISION_ENROLLED" type="xs:string" />
        <xs:element name="IS_LTC_ENROLLED" type="xs:string" />
        <xs:element name="HEALTH_LEVEL_OF_COVERAGE" type="xs:string" />
        <xs:element name="DENTAL_LEVEL_OF_COVERAGE" type="xs:string" />
        <xs:element name="VISION_LEVEL_OF_COVERAGE" type="xs:string" />
        <xs:element name="LTC_LEVEL_OF_COVERAGE" type="xs:string" />
        <xs:element name="LTC_INSURANCE_TYPE" type="xs:string" />
        <xs:element name="LTC_SPOUSE_LEVEL_OF_COVERAGE" type="xs:string" />
        <xs:element name="IS_SSLI_SELECTED" type="xs:string" />
        <xs:element name="SSLI_AGE" type="xs:string" />
        <xs:element name="IS_SSLE_DATE_FUTURE" type="xs:string" />
        <xs:element name="IS_SSLE_DATE_PAST" type="xs:string" />
        <xs:element name="RHIC_BENEFIT_OPTION_VALUE" type="xs:string" />
        <xs:element name="RHIC_BENEFIT_OPTION_DESCRIPTION" type="xs:string" />
        <xs:element name="TERM_CERTAIN_YEAR" type="xs:string" />
        <xs:element name="BENEFIT_BEGIN_DATE" type="xs:dateTime" />
        <xs:element name="BENEFIT_END_DATE" type="xs:dateTime" />
        <xs:element name="JOINT_ANNUITANT_PERSLINK_ID" type="xs:int" />
        <xs:element name="STATEMENT_EFFECTIVE_DATE" type="xs:dateTime" />
        <xs:element name="BATCH_REQUEST_TYPE_VALUE" type="xs:string" />
        <xs:element name="ORG_CONTACT_PHONE_NUMBER" type="xs:string" />        
        <xs:element name="IS_AP_PAYEE" type="xs:string" />
        <xs:element name="IS_BAO_PAYEE" type="xs:string" />
        <xs:element name="HealthPremiumAmount" type="xs:decimal" />
        <xs:element name="HealthRHICAmount" type="xs:decimal" />
        <xs:element name="DetntalPremiumAmount" type="xs:decimal" />
        <xs:element name="VisionPremiumAmount" type="xs:decimal" />
        <xs:element name="LTCMemberPremiumAmount" type="xs:decimal" />
        <xs:element name="LTCSpousepremiumAmount" type="xs:decimal" />
        <xs:element name="Previous_Statement_Balance" type="xs:decimal" />
        <xs:element name="Interest_Amount" type="xs:decimal" />
        <xs:element name="IsLifePremiumwaiver" type="xs:string" />
        <xs:element name="IsLifeCoverageValid" type="xs:string" />
        <xs:element name="WaivedAmount" type="xs:decimal" />
        <xs:element name="IS_BENEFICIARY_REQUIRED" type="xs:string" />
        <xs:element name="state_value" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="IS_BENEFICIARY_EXIST" type="xs:string" />
        <xs:element name="IS_NONSPOUSE_BENE" type="xs:string" />
        <xs:element name="RHIC_RECEIVER" type="xs:string" />
        <xs:element name="RHIC_DONOR" type="xs:string" />
        <xs:element name="LTD_PAID_AMOUNT" type="xs:decimal" />
        <xs:element name="MEMBERRHICAMOUNT" type="xs:decimal" />
        <xs:element name="SPOUSERHICAMOUNT" type="xs:decimal" />
        <xs:element name="TERM_CERTAIN_END_DATE" type="xs:dateTime" />
        <xs:element name="DentalDep" type="xs:string" />
        <xs:element name="VisionDep" type="xs:string" />
        <xs:element name="Healthdep" type="xs:string" />
        <xs:element name="MedicareDep" type="xs:string" />        
        <xs:element name="CREATED_BY" type="xs:string" />
        <xs:element name="CREATED_DATE" type="xs:dateTime" />
        <xs:element name="MODIFIED_BY" type="xs:string" />
        <xs:element name="MODIFIED_DATE" type="xs:dateTime" />
        <xs:element name="UPDATE_SEQ" type="xs:int" />
        <xs:element name="COMBINEDRHICAMOUNT" type="xs:decimal" />
        <xs:element name="REQUESTED_BY" type="xs:string" />
        <xs:element name="IS_CURRENT_LIFE_BENEFICIARY_EXISTS" type="xs:string" />
        <xs:element name="IS_CURRENT_RETIREMENT_BENEFICIARY_EXISTS" type="xs:string" />
        <xs:element name="DISPLAY_RHIC" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>  
  <xs:element name="ReportTable06">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="display_order" type="xs:int" />
        <xs:element name="payee_account_id" type="xs:int" />        
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="item_direction" type="xs:int" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="payment_item" type="xs:string" />
        <xs:element name="Amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable15">
    <xs:complexType>
      <xs:sequence>        
        <xs:element name="Coverage" type="xs:string" />
        <xs:element name="LTCPremium" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable07">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MAS_PERSON_PLAN_BENEFICIARY_ID" type="xs:int" />
        <xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="PLAN_ID" type="xs:int" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="BENEFICIARY_TYPE_DESCRIPTION" type="xs:string" />
        <xs:element name="BENEFICIARY_FULL_NAME" type="xs:string" />
        <xs:element name="RELATIONSHIP_DESCRIPTION" type="xs:string" />
        <xs:element name="DATE_OF_BIRTH" type="xs:dateTime" />
        <xs:element name="PERCENTAGE" type="xs:decimal" />
        <xs:element name="IS_BENEFICIARY_FLAG" type="xs:string" />
        <xs:element name="CREATED_BY" type="xs:string" />
        <xs:element name="CREATED_DATE" type="xs:dateTime" />
        <xs:element name="MODIFIED_BY" type="xs:string" />
        <xs:element name="MODIFIED_DATE" type="xs:dateTime" />
        <xs:element name="UPDATE_SEQ" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable08">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="LEVEL_OF_COVERAGE" type="xs:string" />
        <xs:element name="COVERAGE_AMOUNT" type="xs:decimal" />
        <xs:element name="PREMIUM_AMOUNT" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable09">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MAS_PERSON_PLAN_BENEFICIARY_ID" type="xs:int" />
        <xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="PLAN_ID" type="xs:int" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="BENEFICIARY_TYPE_DESCRIPTION" type="xs:string" />
        <xs:element name="BENEFICIARY_FULL_NAME" type="xs:string" />
        <xs:element name="RELATIONSHIP_DESCRIPTION" type="xs:string" />
        <xs:element name="DATE_OF_BIRTH" type="xs:dateTime" />
        <xs:element name="PERCENTAGE" type="xs:decimal" />
        <xs:element name="IS_BENEFICIARY_FLAG" type="xs:string" />
        <xs:element name="CREATED_BY" type="xs:string" />
        <xs:element name="CREATED_DATE" type="xs:dateTime" />
        <xs:element name="MODIFIED_BY" type="xs:string" />
        <xs:element name="MODIFIED_DATE" type="xs:dateTime" />
        <xs:element name="UPDATE_SEQ" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable11">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MAS_PERSON_PLAN_BENEFICIARY_ID" type="xs:int" />
        <xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="PLAN_ID" type="xs:int" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="BENEFICIARY_TYPE_DESCRIPTION" type="xs:string" />
        <xs:element name="BENEFICIARY_FULL_NAME" type="xs:string" />
        <xs:element name="RELATIONSHIP_DESCRIPTION" type="xs:string" />
        <xs:element name="DATE_OF_BIRTH" type="xs:dateTime" />
        <xs:element name="PERCENTAGE" type="xs:decimal" />
        <xs:element name="IS_BENEFICIARY_FLAG" type="xs:string" />
        <xs:element name="CREATED_BY" type="xs:string" />
        <xs:element name="CREATED_DATE" type="xs:dateTime" />
        <xs:element name="MODIFIED_BY" type="xs:string" />
        <xs:element name="MODIFIED_DATE" type="xs:dateTime" />
        <xs:element name="UPDATE_SEQ" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable12">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MAS_PERSON_PLAN_BENEFICIARY_ID" type="xs:int" />
        <xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="PLAN_ID" type="xs:int" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="BENEFICIARY_TYPE_DESCRIPTION" type="xs:string" />
        <xs:element name="BENEFICIARY_FULL_NAME" type="xs:string" />
        <xs:element name="RELATIONSHIP_DESCRIPTION" type="xs:string" />
        <xs:element name="DATE_OF_BIRTH" type="xs:dateTime" />
        <xs:element name="PERCENTAGE" type="xs:decimal" />
        <xs:element name="IS_BENEFICIARY_FLAG" type="xs:string" />
        <xs:element name="CREATED_BY" type="xs:string" />
        <xs:element name="CREATED_DATE" type="xs:dateTime" />
        <xs:element name="MODIFIED_BY" type="xs:string" />
        <xs:element name="MODIFIED_DATE" type="xs:dateTime" />
        <xs:element name="UPDATE_SEQ" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable13">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MAS_PERSON_PLAN_BENEFICIARY_ID" type="xs:int" />
        <xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="PLAN_ID" type="xs:int" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="BENEFICIARY_TYPE_DESCRIPTION" type="xs:string" />
        <xs:element name="BENEFICIARY_FULL_NAME" type="xs:string" />
        <xs:element name="RELATIONSHIP_DESCRIPTION" type="xs:string" />
        <xs:element name="DATE_OF_BIRTH" type="xs:dateTime" />
        <xs:element name="PERCENTAGE" type="xs:decimal" />
        <xs:element name="IS_BENEFICIARY_FLAG" type="xs:string" />
        <xs:element name="CREATED_BY" type="xs:string" />
        <xs:element name="CREATED_DATE" type="xs:dateTime" />
        <xs:element name="MODIFIED_BY" type="xs:string" />
        <xs:element name="MODIFIED_DATE" type="xs:dateTime" />
        <xs:element name="UPDATE_SEQ" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable14">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MAS_PERSON_PLAN_BENEFICIARY_ID" type="xs:int" />
        <xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="PLAN_ID" type="xs:int" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="BENEFICIARY_TYPE_DESCRIPTION" type="xs:string" />
        <xs:element name="BENEFICIARY_FULL_NAME" type="xs:string" />
        <xs:element name="RELATIONSHIP_DESCRIPTION" type="xs:string" />
        <xs:element name="DATE_OF_BIRTH" type="xs:dateTime" />
        <xs:element name="PERCENTAGE" type="xs:decimal" />
        <xs:element name="IS_BENEFICIARY_FLAG" type="xs:string" />
        <xs:element name="CREATED_BY" type="xs:string" />
        <xs:element name="CREATED_DATE" type="xs:dateTime" />
        <xs:element name="MODIFIED_BY" type="xs:string" />
        <xs:element name="MODIFIED_DATE" type="xs:dateTime" />
        <xs:element name="UPDATE_SEQ" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable16">
    <xs:complexType>
      <xs:sequence>
        
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="GrossPaidLifeToDate" type="xs:string" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="GROSS_AMOUNT" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
 
</xs:schema>
