Systest/Systest/Files/Reports/XSD Definition/rptPopupPayeeAccount.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptPopupPayeeAccount"
    targetNamespace="http://tempuri.org/rptPopupPayeeAccount.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptPopupPayeeAccount.xsd"
    xmlns:mstns="http://tempuri.org/rptPopupPayeeAccount.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PERSLink_ID" type="xs:int" />
        <xs:element name="First_Name" type="xs:string" />
        <xs:element name="Last_Name" type="xs:string" />
        <xs:element name="Contact_Ticket" type="xs:int" />
        <xs:element name="Process_Created_Date" type="xs:date" />
        <xs:element name="Process_Modified_Date" type="xs:date" />       
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
