Systest/Systest/Files/Reports/XSD Definition/rptPayeeErrorReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptPayeeErrorReport"
    targetNamespace="http://tempuri.org/rptPayeeErrorReport.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptPayeeErrorReport.xsd"
    xmlns:mstns="http://tempuri.org/rptPayeeErrorReport.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Document">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ReportTable01">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="first_name" type="xs:string" />
							<xs:element name="payee_account_id" type="xs:int" />
							<xs:element name="payee_perslink_id" type="xs:int" />
							<xs:element name="last_name" type="xs:string" />
							<xs:element name="payeesatus" type="xs:string" />
							<xs:element name="messages" type="xs:string" />
              <xs:element name="status_effective_date" type="xs:dateTime" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>		
	</xs:element>
</xs:schema>
