Systest/Systest/Files/Reports/XSD Definition/rptPensionCheckPaymentReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptPensionCheckPaymentReport" targetNamespace="http://tempuri.org/rptPensionCheckPaymentReport.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptPensionCheckPaymentReport.xsd" xmlns:mstns="http://tempuri.org/rptPensionCheckPaymentReport.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ReportTable01">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PAYEE_ACCOUNT_ID" type="xs:int" />
				<xs:element name="PERSON_ACCOUNT_ID" type="xs:int" />
				<xs:element name="LAST_NAME" type="xs:string" />
				<xs:element name="FIRST_NAME" type="xs:string" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="PLAN_PARTICIPATION_STATUS" type="xs:string" />
				<xs:element name="ERR_MSG" type="xs:string" />
				<xs:element name="PLAN_START_DATE" type="xs:dateTime"/>
				<xs:element name="PLAN_END_DATE" type="xs:dateTime" />
				<xs:element name="LATEST_PAPIT_START_DATE" type="xs:dateTime" />
				<xs:element name="LATEST_PAPIT_END_DATE" type="xs:dateTime" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>