Systest/Systest/Files/Reports/XSD Definition/rptRefundsWithPayrollAdjustments.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptRefundsWithPayrollAdjustments"
    targetNamespace="http://tempuri.org/rptRefundsWithPayrollAdjustments.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptRefundsWithPayrollAdjustments.xsd"
    xmlns:mstns="http://tempuri.org/rptRefundsWithPayrollAdjustments.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="MEMBER_PERSLinkID" type="xs:int" />
        <xs:element name="PAYEE_ACCOUNT_ID" type="xs:int" />
        <xs:element name="RECEIVED_PEP" type="xs:string" />
        <xs:element name="ADJUSTMENTS" type="xs:string" />
		<xs:element name="POSTED_ER_VESTED_AMOUNT" type="xs:decimal" />	
		<xs:element name="CALCULATED_ER_VESTED_AMOUNT" type="xs:decimal" />		
		<xs:element name="DIFFERENCE" type="xs:decimal" />	
	<xs:element name="IS_SERVICE_PURCHASED" type="xs:string" />
        <xs:element name="PLAN_TRANSFER" type="xs:string" />		
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>



