Systest/Systest/Files/Reports/XSD Definition/rptSeminarDemogrhapics.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptSeminarDemogrhapics" targetNamespace="http://tempuri.org/rptSeminarDemogrhapics.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptSeminarDemogrhapics.xsd" xmlns:mstns="http://tempuri.org/rptSeminarDemogrhapics.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
	<xs:element name="Document">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ReportTable01">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PersonID" type="xs:int" />
							<xs:element name="Person_Name" type="xs:string"/>
							<xs:element name="Age" type="xs:decimal" />
							<xs:element name="Plan" type="xs:string" />
							<xs:element name="Gender" type="xs:string" />
							<xs:element name="FAS" type="xs:decimal" />
							<xs:element name="TVSC" type="xs:decimal" />
							<xs:element name="NRD" type="xs:date" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>