Systest/Systest/Files/Reports/XSD Definition/rptSummaryreportofalladhocpaymentsforaMonth.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptSummaryreportofalladhocpaymentsforaMonth" targetNamespace="http://tempuri.org/rptSummaryreportofalladhocpaymentsforaMonth.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/rptSummaryreportofalladhocpaymentsforaMonth.xsd" xmlns:mstns="http://tempuri.org/rptSummaryreportofalladhocpaymentsforaMonth.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ReportTable01">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PAYMENT_ITEM_TYPE_ID" type="xs:int" />
				<xs:element name="ITEM_DIR_ORD" type="xs:int" />
				<xs:element name="ITEM_PRIORITY" type="xs:int" />
				<xs:element name="SCHEDULE_TYPE" type="xs:string" />
				<xs:element name="ITEM_TYPE_DESCRIPTION" type="xs:string" />
				<xs:element name="PAYMENT_DATE" type="xs:dateTime"/>
				<xs:element name="AMOUNT" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>