Systest/Systest/Files/Reports/XSD Definition/rptSummaryRetireeStatement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptSummaryRetireeStatement"
    targetNamespace="http://tempuri.org/rptSummaryRetireeStatement.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptSummaryRetireeStatement.xsd"
    xmlns:mstns="http://tempuri.org/rptSummaryRetireeStatement.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:element name="ReportTable01">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="OWNER_NAME" type="xs:string" />
        <xs:element name="PAYEE_NAME" type="xs:string" />
        <xs:element name="OWNER_FIRST_NAME" type="xs:string" />
				<xs:element name="DATE_OF_BIRTH" type="xs:dateTime" />
				<xs:element name="GENDER_DESCRIPTION" type="xs:string" />
				<xs:element name="MARITAL_DESCRIPTION" type="xs:string" />
				<xs:element name="SPOUSE_FULL_NAME" type="xs:string" />
				<xs:element name="SPOUSE_DOB" type="xs:dateTime" />
				<xs:element name="SPOUSE_GENDER_DESCRIPTION" type="xs:string" />
				<xs:element name="PERSON_EMPL_DETAIL_ID" type="xs:int" />
				<xs:element name="SEASONAL_MONTHS_DESCRIPTION" type="xs:string" />
				<xs:element name="ADDR_LINE1" type="xs:string" />
				<xs:element name="ADDR_LINE2" type="xs:string" />
				<xs:element name="ADDR_CITY" type="xs:string" />
				<xs:element name="ADDR_STATE_DESCRIPTION" type="xs:string" />
				<xs:element name="ADDR_COUNTRY_ID" type="xs:int" />
				<xs:element name="ADDR_COUNTRY_VALUE" type="xs:string" />
				<xs:element name="ADDR_COUNTRY_DESCRIPTION" type="xs:string" />
				<xs:element name="ZIPCODE" type="xs:string" />
				<xs:element name="FOREIGN_PROVINCE" type="xs:string" />
				<xs:element name="FOREIGN_POSTAL_CODE" type="xs:string" />
        <xs:element name="ACCOUNT_RELATIONSHIP_VALUE" type="xs:string" />
        <xs:element name="ACCOUNT_RELATIONSHIP_DESC" type="xs:string" />
        <xs:element name="IS_PLAN_DC" type="xs:string" />
        <xs:element name="IS_PLAN_DB" type="xs:string" />
        <xs:element name="IS_RHIC_APPLIED_HEALTH" type="xs:string" />
        <xs:element name="IS_COMBINING_RHIC" type="xs:string" />
        <xs:element name="IS_BENEFIT_TYPE_DISABILITY" type="xs:string" />
        <xs:element name="STATEMENT_EFFECTIVE_DATE" type="xs:dateTime" />
        <xs:element name="ACCOUNT_BALANCE" type="xs:decimal" />
				<xs:element name="IS_PARTD_HEALTH_ENROLLED" type="xs:string" />
				<xs:element name="IS_MEDICARE_PART_D_ENROLLED" type="xs:string" />
				<xs:element name="IS_RETIREE_HEALTH_ENROLLED" type="xs:string" />
				<xs:element name="IS_HEALTH_ENROLLED" type="xs:string" />
				<xs:element name="IS_LIFE_ENROLLED" type="xs:string" />
				<xs:element name="IS_DENTAL_ENROLLED" type="xs:string" />
				<xs:element name="IS_VISION_ENROLLED" type="xs:string" />
				<xs:element name="IS_LTC_ENROLLED" type="xs:string" />
        <xs:element name="state_value" type="xs:string" />        
        <xs:element name="country" type="xs:string" />
        <xs:element name="PLAN_NAME" type="xs:string" />       
        <xs:element name="MEMBERRHICAMOUNT" type="xs:decimal" />
        <xs:element name="SPOUSERHICAMOUNT" type="xs:decimal" />
        <xs:element name="DISPLAY_RHIC" type="xs:string" />
        <xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />
	      <xs:element name="HEALTH_PREMIUM_AMT" type="xs:decimal" />
	      <xs:element name="VISION_PREMIUM_AMT" type="xs:decimal" />
	      <xs:element name="DENTAL_PREMIUM_AMT" type="xs:decimal" />
        <xs:element name="LIFE_PREMIUM_AMT" type="xs:decimal" />
        <xs:element name="LTC_PREMIUM_AMT" type="xs:decimal" />
		<xs:element name="MEDICARE_PREMIUM_AMT" type="xs:decimal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable02">
	  <xs:complexType>
	    <xs:sequence>			
	      <xs:element name="PERSON_ID" type="xs:int" />			
	      <xs:element name="PLAN_NAME" type="xs:string" />
              <xs:element name="BENEFIT_OPTION" type="xs:string" />
	      <xs:element name="PAYEE_ACCOUNT_ID" type="xs:int" />
        <xs:element name="PLAN_BENEFIT_TIER_DESCRIPTION" type="xs:string" />
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
  <xs:element name="ReportTable03">
    <xs:complexType>
      <xs:sequence> 
        <xs:element name="PERSON_ID" type="xs:int" />     
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="GROSS_AMOUNT" type="xs:decimal" />
	<xs:element name="PAYEE_ACCOUNT_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable04">
    <xs:complexType>
      <xs:sequence>     
        <xs:element name="PERSON_ID" type="xs:int" />    
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="RHIC_AMOUNT" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable05">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MAS_PERSON_PLAN_ID" type="xs:int" />
        <xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="PLAN_ID" type="xs:int" />
        <xs:element name="BENEFIT_ACCOUNT_TYPE_VALUE" type="xs:string" />
        <xs:element name="BENEFIT_ACCOUNT_SUB_TYPE_VALUE" type="xs:string" />
        <xs:element name="BENEFIT_OPTION_VALUE" type="xs:string" />
        <xs:element name="ACCOUNT_RELATIONSHIP_VALUE" type="xs:string" />
        <xs:element name="FAMILY_RELATIONSHIP_VALUE" type="xs:string" />
        <xs:element name="RHIC_BENEFIT_OPTION_VALUE" type="xs:string" />
        <xs:element name="RHIC_BENEFIT_OPTION_DESCRIPTION" type="xs:string" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="IS_BENEFIT_TYPE_DISABILITY" type="xs:string" />
        <xs:element name="IS_COMBINING_RHIC" type="xs:string" />        
        <xs:element name="RHIC_AMOUNT" type="xs:decimal" />
        <xs:element name="IS_RHIC_APPLIED_HEALTH" type="xs:decimal" />
        <xs:element name="MEMBERRHICAMOUNT" type="xs:decimal" />
        <xs:element name="SPOUSERHICAMOUNT" type="xs:decimal" />
        <xs:element name="DISPLAY_RHIC" type="xs:string" />
	<xs:element name="PAYEE_ACCOUNT_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
    </xs:element>

  <xs:element name="ReportTable11">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MAS_PERSON_PLAN_BENEFICIARY_ID" type="xs:int" />
        <xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
        <xs:element name="PERSON_ID" type="xs:int" />
        <xs:element name="PLAN_ID" type="xs:int" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="BENEFICIARY_TYPE_DESCRIPTION" type="xs:string" />
        <xs:element name="BENEFICIARY_FULL_NAME" type="xs:string" />
        <xs:element name="RELATIONSHIP_DESCRIPTION" type="xs:string" />
        <xs:element name="DATE_OF_BIRTH" type="xs:dateTime" />
        <xs:element name="PERCENTAGE" type="xs:decimal" />
        <xs:element name="IS_BENEFICIARY_FLAG" type="xs:string" />
        <xs:element name="CREATED_BY" type="xs:string" />
        <xs:element name="CREATED_DATE" type="xs:dateTime" />
        <xs:element name="MODIFIED_BY" type="xs:string" />
        <xs:element name="MODIFIED_DATE" type="xs:dateTime" />
        <xs:element name="UPDATE_SEQ" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable17">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="RHIC_BENEFIT_OPTION_DESCRIPTION" type="xs:string" />
        <xs:element name="MEMBERRHICAMOUNT" type="xs:decimal" />
        <xs:element name="SPOUSERHICAMOUNT" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTable34">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MAS_SELECTION_ID" type="xs:int" />
        <xs:element name="PLAN_NAME" type="xs:string" />
        <xs:element name="PLAN_NAME_VALUE" type="xs:string" />
        <xs:element name="PERSON_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
