Systest/Systest/Files/Reports/XSD Definition/rptSummaryMemberStatement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptOnlineMemberStatement"
    targetNamespace="http://tempuri.org/rptOnlineMemberStatement.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/rptOnlineMemberStatement.xsd"
    xmlns:mstns="http://tempuri.org/rptOnlineMemberStatement.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:element name="ReportTable01">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="FULL_NAME" type="xs:string" />
				<xs:element name="DATE_OF_BIRTH" type="xs:dateTime" />
				<xs:element name="GENDER_DESCRIPTION" type="xs:string" />
				<xs:element name="MARITAL_DESCRIPTION" type="xs:string" />
				<xs:element name="SPOUSE_FULL_NAME" type="xs:string" />
				<xs:element name="SPOUSE_DOB" type="xs:dateTime" />
				<xs:element name="SPOUSE_GENDER_DESCRIPTION" type="xs:string" />
				<xs:element name="PERSON_EMPL_DETAIL_ID" type="xs:int" />
				<xs:element name="SEASONAL_MONTHS_DESCRIPTION" type="xs:string" />
				<xs:element name="ADDR_LINE1" type="xs:string" />
				<xs:element name="ADDR_LINE2" type="xs:string" />
				<xs:element name="ADDR_CITY" type="xs:string" />
				<xs:element name="ADDR_STATE_DESCRIPTION" type="xs:string" />
				<xs:element name="ADDR_COUNTRY_ID" type="xs:int" />
				<xs:element name="ADDR_COUNTRY_VALUE" type="xs:string" />
				<xs:element name="ADDR_COUNTRY_DESCRIPTION" type="xs:string" />
				<xs:element name="ZIPCODE" type="xs:string" />
				<xs:element name="FOREIGN_PROVINCE" type="xs:string" />
				<xs:element name="FOREIGN_POSTAL_CODE" type="xs:string" />
				<xs:element name="IS_DEFERRED_ENROLLED" type="xs:string" />
				<xs:element name="IS_457_DEFERRED_ENROLLED" type="xs:string" />
				<xs:element name="IS_HEALTH_ENROLLED" type="xs:string" />
				<xs:element name="IS_LIFE_ENROLLED" type="xs:string" />
				<xs:element name="IS_DENTAL_ENROLLED" type="xs:string" />
				<xs:element name="IS_VISION_ENROLLED" type="xs:string" />
				<xs:element name="IS_LTC_ENROLLED" type="xs:string" />
				<xs:element name="IS_EAP_ENROLLED" type="xs:string" />
				<xs:element name="IS_FLEX_ENROLLED" type="xs:string" />
				<xs:element name="VESTED_EMPLOYER_SCHEDULE_PERCENTAGE" type="xs:decimal" />
				<xs:element name="DC_VESTED_EMPLOYER_SCHEDULE_PERCENTAGE" type="xs:decimal" />
				<xs:element name="IS_DC_PLAN_ENROLED" type="xs:string" />
				<xs:element name="IS_DB_PLAN_ENROLED" type="xs:string" />				
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable02">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_PLAN_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="PERSON_ACCOUNT_ID" type="xs:int" />
				<xs:element name="PREVIOUS_MEMBER_ACCOUNT_BALANCE_LTD" type="xs:decimal" />
				<xs:element name="IS_ELIGIBLE_FOR_ENROL_FLAG" type="xs:string" />
				<xs:element name="PROVIDER_NAME" type="xs:string" />
				<xs:element name="VESTED_EMPLOYER_CONT" type="xs:decimal" />
				<xs:element name="SERVICE_PURCHASE_AMOUNT" type="xs:decimal" />
				<xs:element name="INTEREST_AMOUNT" type="xs:decimal" />
				<xs:element name="TAXABLE_AMOUNT" type="xs:decimal" />
				<xs:element name="NONTAXABLE_AMOUNT" type="xs:decimal" />
				<xs:element name="VESTED_EMPLOYER_CONT_PERCENT" type="xs:decimal" />
				<xs:element name="YTD_MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="YTD_EMPLOYER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="QDRO_AMOUNT" type="xs:decimal" />
				<xs:element name="IS_RTW_INDICATOR" type="xs:string" />
				<xs:element name="EE_RHIC_CONTRIBUTION_AMOUNT" type="xs:decimal" />
				<xs:element name="MEMBER_ACCOUNT_BALANCE_LTD" type="xs:decimal" />
				<xs:element name="LTD_MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="LTD_EMPLOYER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="PSC_IN_YEAR_MONTHS" type="xs:decimal" />
				<xs:element name="TVSC_IN_YEAR_MONTHS" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_AGE" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
				<xs:element name="SINGLE_LIFE_BENEFIT_AMOUNT" type="xs:decimal" />
				<xs:element name="RHIC_AMOUNT" type="xs:decimal" />
				<xs:element name="TFFR_SERVICE" type="xs:decimal" />
				<xs:element name="TIAA_CREF_SERVICE" type="xs:decimal" />
				<xs:element name="JOBSERVICE_SICK_LEAVE" type="xs:decimal" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />						
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReportTable10">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MAS_PERSON_PLAN_ID" type="xs:int" />
				<xs:element name="MAS_BATCH_REQUEST_ID" type="xs:int" />
				<xs:element name="PERSON_ID" type="xs:int" />
				<xs:element name="PLAN_ID" type="xs:int" />
				<xs:element name="PLAN_NAME" type="xs:string" />
				<xs:element name="PERSON_ACCOUNT_ID" type="xs:int" />
				<xs:element name="PREVIOUS_MEMBER_ACCOUNT_BALANCE_LTD" type="xs:decimal" />
				<xs:element name="IS_ELIGIBLE_FOR_ENROL_FLAG" type="xs:string" />
				<xs:element name="PROVIDER_NAME" type="xs:string" />
				<xs:element name="VESTED_EMPLOYER_CONT" type="xs:decimal" />
				<xs:element name="SERVICE_PURCHASE_AMOUNT" type="xs:decimal" />
				<xs:element name="INTEREST_AMOUNT" type="xs:decimal" />
				<xs:element name="TAXABLE_AMOUNT" type="xs:decimal" />
				<xs:element name="NONTAXABLE_AMOUNT" type="xs:decimal" />
				<xs:element name="VESTED_EMPLOYER_CONT_PERCENT" type="xs:decimal" />
				<xs:element name="YTD_MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="YTD_EMPLOYER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="QDRO_AMOUNT" type="xs:decimal" />
				<xs:element name="IS_RTW_INDICATOR" type="xs:string" />
				<xs:element name="EE_RHIC_CONTRIBUTION_AMOUNT" type="xs:decimal" />
				<xs:element name="MEMBER_ACCOUNT_BALANCE_LTD" type="xs:decimal" />
				<xs:element name="LTD_MEMBER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="LTD_EMPLOYER_CONTRIBUTIONS" type="xs:decimal" />
				<xs:element name="PSC_IN_YEAR_MONTHS" type="xs:decimal" />
				<xs:element name="TVSC_IN_YEAR_MONTHS" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_AGE" type="xs:decimal" />
				<xs:element name="NORMAL_RETIREMENT_DATE" type="xs:dateTime" />
				<xs:element name="SINGLE_LIFE_BENEFIT_AMOUNT" type="xs:decimal" />
				<xs:element name="RHIC_AMOUNT" type="xs:decimal" />
				<xs:element name="TFFR_SERVICE" type="xs:decimal" />
				<xs:element name="TIAA_CREF_SERVICE" type="xs:decimal" />
				<xs:element name="JOBSERVICE_SICK_LEAVE" type="xs:decimal" />
				<xs:element name="CREATED_BY" type="xs:string" />
				<xs:element name="CREATED_DATE" type="xs:dateTime" />
				<xs:element name="MODIFIED_BY" type="xs:string" />
				<xs:element name="MODIFIED_DATE" type="xs:dateTime" />
				<xs:element name="UPDATE_SEQ" type="xs:int" />						
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
