Systest/Systest/Files/Reports/XSD Definition/rptVestedEmployerContributionErrorReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="rptVestedEmployerContributionErrorReport" targetNamespace="http://tempuri.org/rptVestedEmployerContributionErrorReport.xsd" xmlns:mstns="http://tempuri.org/rptVestedEmployerContributionErrorReport.xsd" xmlns="http://tempuri.org/rptVestedEmployerContributionErrorReport.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" attributeFormDefault="qualified" elementFormDefault="qualified">
 <xs:element name="ReportTable01">
    <xs:complexType>
      <xs:sequence>   
              <xs:element name="PERSLinkID" type="xs:int" minOccurs="0" />
              <xs:element name="LAST_NAME" type="xs:string" minOccurs="0" />
              <xs:element name="FIRST_NAME" type="xs:string" minOccurs="0" />           
              <xs:element name="PAYPERIODDATE" type="xs:dateTime" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
</xs:schema>